<html lang="en" style="height: auto;"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SELAM_TVC</title>
  
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../../dist/css/adminlte.min.css">
  <style type="text/css">/* Chart.js */
  @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style></head>
  <!--
  `body` tag options:
  
    Apply one or more of the following classes to to the body tag
    to get the desired effect
  
    * sidebar-collapse
    * sidebar-mini
  -->
  <body class="sidebar-mini sidebar-closed sidebar-collapse" style="height: auto;">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('./partials/top') %>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar  elevation-4">
      <!-- Brand Logo -->
      <%- include('./partials/sidebar') %>
      <!-- /.sidebar -->
    </aside>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 2128.12px;">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  <% var totalc,totalcpf,tyjbsdatac,lyjbsdatac %>
      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="col-sm-12 flex-column d-flex stretch-card">
            <%if(totalchis.length >0)  {%>
              <% totalchis.forEach(function(row){ %>
                   <%  totalc =row.tot %>
                   <% totalcpf =row.tot %>
            <%  }) %>
              <%}else{} %>
              <%if(totalchis.length >0)  {%>
                <% totalchis.forEach(function(row){ %>
                     <%  totalc =row.tot %>
                     <% totalcpf =row.tot %>
              <%  }) %>
                <%}else{} %>
              
                    <%if(tyjbsdatact.length >0)  {%>
                      <% tyjbsdatact.forEach(function(row){ %>
                           <%  tyjbsdatac =row.tot %>
                           
                    <%  }) %>
                      <%}else{} %>
                      <%if(lyjbsdatacl.length >0)  {%>
                        <% lyjbsdatacl.forEach(function(row){ %>
                             <%  lyjbsdatac =row.tot %>
                           
                      <%  }) %>
                        <%}else{} %>
            <div class="row">
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                  <div class="inner">
                    <h3><%= lyjbsdata %></h3>
    
                    <p>Last Year Graduates</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
               </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                  <div class="inner">
                    <h3><%= tyjbsdata %></h3>
    
                    <p>This Year Graduates</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
               </div>
              </div>
              <!-- ./col -->
             
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                  <div class="inner">
                    <h3><%if(lyjbsdata =0){%>
                     <%= tyjbsdata * 100 /lyjbsdata  %> %
                    <%} else{%>
                      <%= tyjbsdata * 100 /1 %> %
                    <%}%></h3>
    
                    <p> Increase In Percentage From Last Year</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                  </div>
               </div>
              </div>
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                  <div class="inner">
                    <h3><%= total %></h3>
    
                    <p>Total Graduates DB </p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
                   </div>
              </div>
              <!-- ./col -->
            </div>
            <div class="row">
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                  <div class="inner">
                    <h3><%= lyjbsdatac %></h3>
    
                    <p>Last Year Take COC</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
               </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                  <div class="inner">
                    <h3><%= tyjbsdatac %></h3>
    
                    <p>This Year Take COC</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
               </div>
              </div>
              <!-- ./col -->
             
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                  <div class="inner">
                    <h3><%if(lyjbsdatac =0){%>
                     <%= tyjbsdatac * 100 /lyjbsdatac  %> %
                    <%} else{%>
                      <%= tyjbsdatac * 100 /1 %> %
                    <%}%></h3>
    
                    <p> Increase In Percentage From Last Year</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                  </div>
               </div>
              </div>
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                  <div class="inner">
                    <h3><%= totalc %></h3>
    
                    <p>Total Take COC  </p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
                   </div>
              </div>
              <!-- ./col -->
            </div>
            <div class="row">
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                  <div class="inner">
                    <h3><%= totalcp %></h3>
    
                    <p>Competent</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
               </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                  <div class="inner">
                    <h3><%= totalcf %></h3>
    
                    <p>Not Yet Competent</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
               </div>
              </div>
              <!-- ./col -->
             
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                  <div class="inner">
                   
                  
                    <h6> In Percent   </h6>
    
                    <p>Competent:  <%if(totalcpf =0){%>
                      <%= totalcp * 100 /totalcpf  %> 
                     <%} else{%>
                       <%= totalcp * 100 /1 %> 
                     <%}%></p>
                    <p>Not Yet Competent: <%if(totalcpf =0){%>
                      <%= totalcf * 100 /totalcpf  %> 
                     <%} else{%>
                       <%= totalcf * 100 /1 %> 
                     <%}%></p>
                     
                  </div>
                  <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                  </div>
               </div>
              </div>
            
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                  <div class="inner">
                    <h3> <%= totalc %></h3>
                    <p>Competent:  <%= totalcp %></p>
                    <p>Not Yet Competent: <%= totalcf %></p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
                   </div>
              </div>
              <!-- ./col -->
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
  <!-- /.control-sidebar -->
  
    <!-- Main Footer -->
    <footer class="main-footer">
        <%- include ('./partials/footer') %>
    </footer>
 
  <!-- ./wrapper -->
  
  <!-- REQUIRED SCRIPTS -->
  
  <!-- jQuery -->
  <script src="../../../plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="../../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE -->
  <script src="../../../dist/js/adminlte.js"></script>
  
  <!-- OPTIONAL SCRIPTS -->
  <script src="../../../plugins/chart.js/Chart.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../../../dist/js/demo.js"></script>
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  <script src="../../../dist/js/pages/dashboard3.js"></script>
  <script src="../../plugins/toastr/toastr.min.js"></script>
  
  
  </body></html>
