<html lang="en" style="height: auto;"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SELAM_TVC</title>
  
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../../dist/css/adminlte.min.css">
  <style type="text/css">/* Chart.js */
  @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style></head>
  <!--
  `body` tag options:
  
    Apply one or more of the following classes to to the body tag
    to get the desired effect
  
    * sidebar-collapse
    * sidebar-mini
  -->
  <body class="sidebar-mini sidebar-closed sidebar-collapse" style="height: auto;">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('./partials/top') %>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar  elevation-4">
      <!-- Brand Logo -->
      <%- include('./partials/sidebar') %>
      <!-- /.sidebar -->
    </aside>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 2128.12px;">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Register Level Based Student</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
            <section class="content">
                <div class="container-fluid">
                    <% if(applicant !=""){ %>
                  <div class="row">
                    <div class="col-md-3">
          
                      <!-- Profile Image -->
                      <div class="card card-primary card-outline" >
                        <div class="card-body box-profile">
                          <div class="text-center" id="preimage" >
                            <%  dataphotos = 	'data:image/png;base64,' + new Buffer(applicant.applicant_photo, 'binary').toString('base64')
                            %>
                            <img class="profile-user-img img-fluid img-circle" id="appphoto" src="<%=dataphotos%> " alt="User profile picture">
                          </div>
          
                          <h3 class="profile-username text-center"><%var perinfo = JSON.parse(JSON.stringify(applicant.personal_info)) %> <%= perinfo.firstname %> &nbsp; <%= perinfo.middlename %></h3>
                          <p class="text-muted text-center"><%= department.department_name %></p>
          
                         
          
                        </div>
                        <!-- /.card-body -->
                      </div>
                      <!-- /.card -->
          
                      <!-- About Me Box -->
                      <div class="card card-primary">
                        <div class="card-header">
                          <h3 class="card-title">About </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                          <strong><i class="fas fa-book mr-1"></i> Education</strong>
          
                          <%var eduinfo = JSON.parse(JSON.stringify(applicant.personal_info)) %> 
                          <p class="text-muted">
                            Is Graduated:&nbsp; <%= applicant.is_graduated %> <br>
                         COC PASS?&nbsp; <%= applicant.is_pass_semister %> <br>
                         Current Level:&nbsp; <%= applicant.current_level %> <br>
                         <strong>Current Department:</strong><% if(department.length>0){ %>
                          <% department.forEach(function(row){%>
                        <%= row.department_name %>
                               
          <%  }) } %><br>
                        <strong>Current Occupation:</strong><% if(department.length>0){ %>
                          <% department.forEach(function(row){%>
                        <%= row.occupation_name %>
                               
          <%  }) } %><br>
                        </p>
                          <hr>
          
                          <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
                          <%var addressinfo = JSON.parse(JSON.stringify(applicant.contact_info)) %> 
                        
                          <p class="text-muted"><%= addressinfo.region %>,Ethiopia</p>
                          <p class="text-muted"><%= addressinfo.zonesubcity %>,<%= addressinfo.woredakebele %>,<%= addressinfo.hno %></p><br>
                          <hr>
          
                       </div>
                        <!-- /.card-body -->
                      </div>
                      <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-9">
                      <div class="card card-primary">
                        <div class="card-header p-2">
                          <ul class="nav nav-pills">
                          <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Registration Slip</a></li>
                             
                        </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                          <div class="tab-content">
                            
                            <!-- /.tab-pane -->
                      
                            <!-- /.tab-pane -->
          
                            <div class="tab-pane active" id="settings">
                              <%- include('./partials/messages') %>
                              <form method="post" action="/registrardataencoder/registration/registercontinuestudy"  >
                               <div>
                                 <label>You Are Registering This Trainee To The Following </label>
                             <br> New Department:<label "><% if(departmentone.length>0){ %>
                              <% departmentone.forEach(function(row){%>
                            <%= row.department_name %>
                                   
              <%  }) } %></label><br>
              New Occupation:<label "><% if(departmentone.length>0){ %>
                <% departmentone.forEach(function(row){%>
              <%= row.occupation_name %>
                     
<%  }) } %></label><br>
                               
                               New Batch: <label ><%= batchinfo.batch_name %></label><br>
                              
                               New Addmission Type: <label ><%= admissiontype %></label><br>
                               New Level: <label ><%= newlevel %></label><br>
                                Trainee ID:<label ><%= traineeid %></label><br>
                               </div>
                                <div class="form-group row">
                                  <label for="inputName" class="col-sm-2 col-form-label">Assign Section<code>***</code></label>
                                  <div class="col-sm-10">
                                <select class="form-control" name="classname" id="classname">
                                    <option value="0">Please Select Section Name </option>
                                    <% if(classlist.length >0) {%>
                                        <% classlist.forEach(function (row){ %>
                                          <option value="<%= row.class_id %>"><%= row.class_name %></option>
                                       <% })}else {}%>
                                </select>   
                                </div>
                                </div>
                                <input type="hidden" name="programtag" value="<%=  programtag %>">
                               
                               <input type="hidden" name="newdeptid" value="<%= newdeptid %>">
                               <input type="hidden" name="deptid" value="<%= deptid %>">
                              
                               <input type="hidden" name="level" value="<%= level %>">
                               <input type="hidden" name="batchidnew" value="<%= batchidnew %>">
                               <input type="hidden" name="batchid" value="<%= batchid %>">
                               <input type="hidden" name="admissiontype" value="<%= admissiontype %>">
                               <input type="hidden" name="newlevel" value="<%= newlevel %>">
                               <input type="hidden" name="traineeid" value="<%= traineeid %>">
                               
                               
                               
                                <div class="form-group row">
                                  <div class="col-md-6 offset-md-3">
                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                  </div>
                                </div>
                              </form>
                            </div>
                            <div class="tab-pane" id="timeline">
                                <div class="col-md-12">
                                    <div class="card card-primary shadow-lg" style="transition: all 0.15s ease 0s; height: inherit; width: inherit;">
                                      <div class="card-header">
                                        <h3 class="card-title">Registration Slip</h3>
                        
                                        <div class="card-tools">
                                          <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                                          </button>
                                        </div>
                                        <!-- /.card-tools -->
                                      </div>
                                      <!-- /.card-header -->
                                      <div class="card-body">
                                        <div class="invoice p-3 mb-3" id="tobebilled">
                                            <!-- title row -->
                                            <div class="row">
                                              <div class="col-12">
                                                <table style="
                                                  border: 1px solid black;
                                                  border-collapse: collapse;
                                                  width: 100%;
                                                ">
                                                  <tr style="
                                                  border: 1px solid black;
                                                  border-collapse: collapse;
                                                ">
                                                    <td><img src="../../../dist/img/logoselam.jpg" width="150px" height="150px"></td>
                                                    <td colspan="2" style="
                                                    border: 1px solid black;
                                                    border-collapse: collapse;
                                                  ">
                                                      <h4>
                                                        Organization Name <br>
                                                        Selam Technical And Vocational Collage
                                                       
                                                      </h4>
                                                    </td>
                                                   
                                                    <td  colspan="2"  style="
                                                    border: 1px solid black;
                                                    border-collapse: collapse;
                                                  ">

                                                      <h5> <small class="float-">Doc No._____</small><br>
                                                        <small class="float-">SDR-TVC/QF/____</small></h5>
                                                        <small class="float-">Issued Date:<% var today = new Date().toLocaleDateString() %> <%= today %></small>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td></td>
                                                    <td colspan="3">
                                                      <h5> <small class="">Office Of Registrar</small>
                                                        <small class="">Registration Slip</small></h5>
                                                    </td>
                                                  
                                                    <td>
                                                      Issue No. __
                                                    </td>
                                                  </tr>
                                                </table>
                                               
                                           
                                              </div>
                                              <!-- /.col -->
                                            </div>
                                            <br>
                                            <!-- info row -->
                                            <div class="row invoice-info">
                                              <div class="col-sm-4 invoice-col">
                                                
                                                <address>
                                                 <img class="" src="<%=dataphotos %>" id="slipphoto" width="150px" height="150px">
                                                </address>
                                              </div>
                                              <!-- /.col -->
                                              <div class="col-sm-4 invoice-col">
                                            
                                                <address>
                                                  <strong>FullName:<% var perinfo = JSON.parse(JSON.stringify(applicant.personal_info)) %> <%= perinfo.firstname %> &nbsp; <%= perinfo.middlename %> &nbsp; <%= perinfo.lastname %></strong><br>
            
                                                   Department:<label "><% if(departmentone.length>0){ %>
                                                    <% departmentone.forEach(function(row){%>
                                                  <%= row.department_name %>
                                                         
                                    <%  }) } %></label>
                                     Occupation:<label "><% if(departmentone.length>0){ %>
                                      <% departmentone.forEach(function(row){%>
                                    <%= row.occupation_name %>
                                           
                      <%  }) } %></label><br>
                                                  <strong>Addmission Type:</strong><%= admissiontype %><br>
                                                  <strong>Telephone:<% var contact = JSON.parse(JSON.stringify(applicant.contact_info)) %> <%= contact.phoneNumber_1 %></strong>
                                               
                                                </address>
                                              </div>
                                              <!-- /.col -->
                                              <div class="col-sm-4 invoice-col">
                                                <b>Nationality:</b>Ethiopian<br>
                                                <br>
                                                <b>Acadamic Year:</b><% var fromdt = new Date(batchinfo.batch_from).getFullYear()
                                                %> 
                                                <% var todt = new Date(batchinfo.batch_to).getFullYear()
                                                %> 
                                                <%= fromdt
                                                %> -<%= todt
                                                %> G.C <br>
            <b>Class Name:</b> <%=  %><br>
           
            <b>Level:</b> <%= newlevel %><br>
                       
            <b>Sex:</b> <span style="text-transform: capitalize;"><%= perinfo.gender %></span> <br>
          
          
            <b>ID:</b> <p id="studentid"></p>
                                              </div>
                                              <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                              
                                            <!-- Table row -->
                                            <div class="row">
                                              <div class="col-12 table-responsive">
                                                <table class="table table-striped">
                                                  <thead>
                                                  <tr>
                                                    <th>No</th>
                                                    <th>Course Code</th>
                                                    <th>Course Name</th>
                                                    <th>Credit Hours</th>
                                                    <th>ECTS</th>
                                                  </tr>
                                                  </thead>
                                                  <tbody>
                                                    <% if(courselist.length >0) {%>
                                                        <% var i =0 %>
                                                        <% courselist.forEach(function (row){ %>
                                                        <% i++ %>
                                                            <tr>
                                                          <td><%=i %></td>
                                                          <td><%= row.course_code %></td>
                                                          <td><%= row.course_name %></td>
                                                          <td><%= row.training_hours %></td>
                                                         <td><%= row.training_level %></td>
                                                       </tr>
                                                       
                                                          <% })}else {}%>        
                                             
                                               
                                                  </tbody>
                                                </table>
                                              </div>
                                              <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                              
                                            <div class="row">
                                              <!-- accepted payments column -->
                                              <div class="col-4">
                                                <p class="lead">Date:</p>
                                                
                                              </div>
                                              <div class="col-4">
                                                <p class="lead"> Program Coordinator Signiture:</p>
                                                
                                              </div>
                                              <!-- /.col -->
                                              <div class="col-4">
                                                <p class="lead">Registrar Signiture </p>
                              
                                              </div>
                                              <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                              
                                            <!-- this row will not appear when printing -->
                                            <div class="row no-print">
                                              <div class="col-12">
                                              
                                            </div>
                                          </div>
                                      </div>
                                      <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                  </div>
                                <!-- The timeline -->
                               
                              </div>
                            <!-- /.tab-pane -->
                          </div>
                          <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                      </div>
                      <!-- /.card -->
                    </div>
                    <!-- /.col -->
                  </div>
                  <%} else{} %>
                  <!-- /.row -->
                </div><!-- /.container-fluid -->
              </section>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
  <!-- /.control-sidebar -->
  
    <!-- Main Footer -->
    <footer class="main-footer">
        <%- include ('./partials/footer') %>
    </footer>
    <script>
  
        function PrintPreview() {
       
          var divContents = $("#tobebilled").html();
     printWindow = window.open("", "", "location=1,status=1,scrollbars=1,width=650,height=600");
     printWindow.document.write('<html><head>');
     printWindow.document.write('<style type="text/css">@media print{.no-print, .no-print *{display: none !important;}</style>');
     printWindow.document.write('<link rel="stylesheet" type="text/css" href="assets/css/printapplication.css">');
      
     printWindow.document.write('</head><body>');
     printWindow.document.write('<div style="width:100%;text-align:right">');
    
      //Print and cancel button
     printWindow.document.write('<input type="button" id="btnPrint" value="Print" class="no-print" style="width:100px" onclick="window.print()" />');
     printWindow.document.write('<input type="button" id="btnCancel" value="Cancel" class="no-print"  style="width:100px" onclick="window.close()" />');
    
     printWindow.document.write('</div>');
    
     //You can include any data this way.
     
     printWindow.document.write(divContents);
     printWindow.document.write(document.getElementById('forPrintPreview').innerHTML);
     //here 'forPrintPreview' is the id of the 'div' in current page(aspx).
     printWindow.document.write('</body></html>');
     printWindow.document.close();
     printWindow.focus();
    }
      </script>
     
  <!-- ./wrapper -->
  
  <!-- REQUIRED SCRIPTS -->
  
  <!-- jQuery -->
  <script src="../../../plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="../../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE -->
  <script src="../../../dist/js/adminlte.js"></script>
  
  <!-- OPTIONAL SCRIPTS -->
  <script src="../../../plugins/chart.js/Chart.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../../../dist/js/demo.js"></script>
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  <script src="../../../dist/js/pages/dashboard3.js"></script>
  <script src="../../plugins/toastr/toastr.min.js"></script>
  
  
  </body></html>
