
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>selam</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/teacher/dashboard" class="nav-link">Home</a>
      </li>
   
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
     

      <!-- Messages Dropdown Menu -->
  
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"   href="/teacher/logout" role="button">
          Logout
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar  elevation-4">
    <!-- Brand Logo -->
         <!-- Brand Logo -->
         <%- include('./partials/sidebar') %>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Dashboard</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Student List</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h4 class="card-title">Student List</h4>
                        </div>
                      <div class="card-body">
                        <%- include ('./partials/messages') %>
                        <div class="alert  alert-dismissible fade show" role="alert" style="display: none;" id="servermsg">
                           <p id="msg"></p>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                      <br>
                      <div class="row">
                        <div class="col-md-8">
                            <div class="callout callout-success">
                                Add Evaluation To:
                              <% if(courselist.length >0) {%>
                                <% courselist.forEach(function (row){ %>
                                  
                                    <p>Course Name :<%= row.course_name %></br>
                                    Module Code: <%= row.course_code %></br>
                                    Duration: <%= row.training_hours %></p>
                               <% })}else {}%>    
                                                                  
                               
                              </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                      <div class="row">
                        <div class="row mb-2">
                            <div class="col-sm-6 mb-4 mb-xl-0">
                              
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center justify-content-md-end">
                                    <div class=" mb-3 mb-xl-0">
                                    
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                          Add Theoretical Evaluation
                                        </button>
                                      
                                          
                                    </div>
                                    <div class=" mb-3 mb-xl-0 ml-2 mr-2">
                                    
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalp">
                                          Add Technical Evaluation
                                        </button>
                                      
                                          
                                    </div>
                                    <div class=" mb-3 mb-xl-0">
                                    
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModali">
                                          Add Industry Evaluation
                                        </button>
                                      
                                          
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row" style="display: none;">
                            <div class="col-sm-12 col-md-6">
                                <div class="dt-buttons btn-group flex-wrap">               
                            <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>Copy</span></button> 
                            <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>CSV</span></button> 
                            <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>Excel</span></button> 
                            <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>PDF</span></button>
                             <button class="btn btn-secondary buttons-print" tabindex="0" aria-controls="example1" type="button"><span>Print</span></button> <div class="btn-group">
                                 <button class="btn btn-secondary buttons-collection dropdown-toggle buttons-colvis" tabindex="0" aria-controls="example1" type="button" aria-haspopup="true" aria-expanded="false"><span>Column visibility</span></button></div> </div></div>
                                 
                                 <div class="col-sm-12 col-md-6"><div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label></div></div>
                                </div>
                        <div class="col-md-12  grid-margin stretch-card">    
                             <div class="">

                          <div class="">
                           
                            <div class="table-responsive" >
                                <table aria-describedby="example1_info" role="grid" class="table table-bordered table-striped dataTable dtr-inline" id="example1">
                                  <thead>
                                    <tr>
                    <th>#</th>
                    <th>Student ID</th>
                                      <th>Full Name</th>
                                      <th>Gender</th>
                                      <th>Contact Info</th>
                                      <% if(courselist.length >0) {%>
                                        <% courselist.forEach(function (row){ %>
                                      
                                            <%
                                            var selectioncriteria= [];
                                           var x =[];
                                           var z= [];
                                           var objs = JSON.parse(JSON.stringify(row.learning_obj));
                                           selectioncriteria.push(objs);
                                           selectioncriteria.forEach(obj => {
                                             Object.entries(obj).forEach(([key, value]) => {
                                                var key  = key;
                                                var value =value;
                                                x.push(key);
                                                z.push(value);
                                             });
                                           
                                         });%>
                                         
                                         <% for(var i= 0 ; i < x.length ; i++ ) { %>
                                         <th><%= z[i] %></th>
                                           
                                        
                                        
                                         <% } %>
                                   
                                       <% })}else {}%>
                                      
                                    
                                    </tr>
                                  </thead>
                                  <tbody>
                  
                                     
                                  
                                   <% if(levelbased.length >0 ) { %>
                                    <% var i = 0 ;%>
                                       <% levelbased.forEach(function (row){ %>
                                        <% i++ %>
                                        <% var one, two,three; %>
                                        <% var name = JSON.parse(JSON.stringify(row.personal_info)); %>
                                        <% var contact = JSON.parse(JSON.stringify(row.contact_info)); %>
                                        <% var fullname = name.firstname +" "+name.middlename +" "+name.lastname %>
                                        <% var contactself = name.firstname +"/ "+contact.phoneNumber_1  %>
                                        <% var contactemergency = contact.emergencyname +"/ "+contact.emergencyphone  %>
                                        <% var trainee = row.trainee_id %>
                                        <tr>
                                            <td><%= i %></td>
                                            <td><%= row.student_unique_id%></td>
                                            <td><%= fullname %></td>
                                            <td><%= name.gender %></td>
                                            
                                            <td><%= contactself %></td>
                                          
                                            <% if(courselist.length >0) {%>
                                              <% courselist.forEach(function (row){ %>
                                            
                                                  <%
                                                  var selectioncriteria= [];
                                                 var x =[];
                                                 var z= [];
                                                 var objs = JSON.parse(JSON.stringify(row.learning_obj));
                                                 selectioncriteria.push(objs);
                                                 selectioncriteria.forEach(obj => {
                                                   Object.entries(obj).forEach(([key, value]) => {
                                                      var key  = key;
                                                      var value =value;
                                                      x.push(key);
                                                      z.push(value);
                                                   });
                                                 
                                               });%>
                                               
                                               <% for(var i= 0 ; i < x.length ; i++ ) { %>
                                                <td>
                                                  <form action="/teacher/trainee/singlethoreticalevaluation/<%= trainee %>" method="post">
                                                      <div class="form-group">
                                                  <input class="form-control" name="mark" id="mark" placeholder="Mark"
   onkeypress="return isNumberKey(event)" 
           type="text">
                                                  <input class="form-control" name="tobeudt" id="tobeudt" type="hidden" value="<%= x[i] %>" >
                                                 
                                                  <select class="form-control" id="evaluationtype" name="evaluationtype">
                                                    <option value="0">Evaluation type</option>
                                                    <option value="Theoretical">Theoretical(30%)</option>
                                                     <option value="Technical">Technical(40%)</option>
                                                     <option value="Industrial">Industrial(30%)</option>
                                                  </select>
                                                  <input type="hidden" id="classid" name="classid" value="<%= classid %>">
                                                  <input type="hidden" id="courseid" name="courseid" value="<%= courseid %>">
                                                  <input type="hidden" id="level" name="level" value="<%= level %>">
                                                  <input type="hidden" id="programtype" name="programtype" value="<%= programtype %>">
                                                  <input type="hidden" id="dpt" name="dpt" value="<%= dpt %>">
                                                  <input type="hidden" id="batchid" name="batchid" value="<%= batchid %>">
                                                  <button type="submit" class="btn btn-primary btn-sm btn-block">Update</button>
                                                      </div>
                                                  </form>
                                              </td>
                                              
                                               <% } %>
                                         
                                             <% })}else {}%>
                                          
                                           
                                           
                                         

                                        
                                          </tr>
                                     <%  })} else{}     %>
                                    
                                
                    
                                       
                                   
                                  
                                  </tbody>
                                </table>
                              </div>
                          
                          </div>
                        </div>
                      </div>
                   
                  
                    </div>
                        
                
                        </div>
                      </div>
                    </div>
                
                   
               
                        
        
                           
                        </div>
              </div>
          
          </div>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Theoretical Evaluation </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="alert  alert-dismissible fade show" role="alert" style="display: none;" id="servermsg">
                    <p id="msg"></p>
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                     </button>
                   </div>
                  <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Student List</h4>
                        </div>
                      <div class="card-body">
                       
                        <p class="card-description">
                          </p>
                          <div class="form-group">
                            <label>Please Select Learning Objective First</label>
                          <select class="form-control" name="los" id="los">
                            <option value="0">Please select learning objective</option>
                            <% if(courselist.length >0) {%>
                              <% courselist.forEach(function (row){ %>
                            
                                  <%
                                  var selectioncriteria= [];
                                 var x =[];
                                 var z= [];
                                 var objs = JSON.parse(JSON.stringify(row.learning_obj));
                                 selectioncriteria.push(objs);
                                 selectioncriteria.forEach(obj => {
                                   Object.entries(obj).forEach(([key, value]) => {
                                      var key  = key;
                                      var value =value;
                                      x.push(key);
                                      z.push(value);
                                   });
                                 
                               });%>
                               
                               <% for(var i= 0 ; i < x.length ; i++ ) { %>
                               <option value="<%= x[i] %>"><%= z[i] %></option>
                                 
                              
                              
                               <% } %>
                         
                             <% })}else {}%>
                          </select>
                          <input class="form-control" onkeypress="return isNumberKey(event)" 
           type="text"  name="totmark" id="totmark" placeholder="Please enter total marks">
                          <input type="hidden" id="courseid" name="courseid" value="<%= courseid %>">
                            <input type="hidden" id="classid" name="classid" value="<%= classid %>">
                            <input type="hidden" id="level" name="level" value="<%= level %>">
                            <input type="hidden" id="programtype" name="programtype" value="<%= programtype %>">
                            <input type="hidden" id="dpt" name="dpt" value="<%= dpt %>">
                            <input type="hidden" id="batchid" name="batchid" value="<%= batchid %>">
                           
                        </div>
                        <p></p>
                        <fieldset id="studentlist">
                          <div class="table-responsive">
                            <table class="table  table-responsive">
                              <thead>
                                <tr>
                             
                                  <th> # </th>
                                  <th> Trainee ID </th>
                                  <th> Full Name </th>
                             
                                  <th> Evaluation(Theoretical) </th>
            
                                </tr>
                              </thead>
                              <tbody>
                                <% if(levelbased.length >0 ) { %>
                                    <% var i = 0 ;%>
                                       <% levelbased.forEach(function (row){ %>
                                      <% i++ %>
                                        <tr>
                                    
                                            <% var name = JSON.parse(JSON.stringify(row.personal_info)); %>
                                            <% var fullname = name.firstname +" "+name.middlename +" "+name.lastname %>
                                         
                                            <td><%= i %></td>
                                            <td><%= row.student_unique_id %></td>
                                            <td><%= fullname %></td>
                                          
                                            <td><input id="<%= row.trainee_id %>" name="<%= row.trainee_id %>"
onkeypress="return isNumberKey(event)" 
           type="text" class="form-control"> </td>
                                       
                                          </tr>

                                        <% })}else{} %>
                                  
                                  
                              </tbody>
                            </table>
                          </div>
                          <div class="row">
                            <div class="col-md-6 offset-md-3  mt-2">
                              <button type="submit" id="addevaluation" class="btn btn-block btn-sm form-control btn-primary">Submit</button>
                            </div>
                          </div>
                        </fieldset>
                       
                      
                      </div>
                    </div>
                  </div>
               
                </div>
               
              </div>
            </div>
          </div>
         
          <div class="modal fade" id="exampleModali" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Internship Evaluation </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="alert  alert-dismissible fade show" role="alert" style="display: none;" id="servermsg">
                    <p id="msg"></p>
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                     </button>
                   </div>
                  <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Student List</h4>
                        </div>
                      <div class="card-body">
                       
                        <p class="card-description">
                          </p>
                          <div class="form-group">
                            <label>Please Select Learning Objective First</label>
                          <select class="form-control" name="losi" id="losi">
                            <option value="0">Please select learning objective</option>
                            <% if(courselist.length >0) {%>
                              <% courselist.forEach(function (row){ %>
                            
                                  <%
                                  var selectioncriteria= [];
                                 var x =[];
                                 var z= [];
                                 var objs = JSON.parse(JSON.stringify(row.learning_obj));
                                 selectioncriteria.push(objs);
                                 selectioncriteria.forEach(obj => {
                                   Object.entries(obj).forEach(([key, value]) => {
                                      var key  = key;
                                      var value =value;
                                      x.push(key);
                                      z.push(value);
                                   });
                                 
                               });%>
                               
                               <% for(var i= 0 ; i < x.length ; i++ ) { %>
                               <option value="<%= x[i] %>"><%= z[i] %></option>
                                 
                              
                              
                               <% } %>
                         
                             <% })}else {}%>
                          </select>
                          <input class="form-control" onkeypress="return isNumberKey(event)" 
           type="text"  name="totmarki" id="totmarki" placeholder="Please enter total marks">
                          <input type="hidden" id="courseid" name="courseid" value="<%= courseid %>">
                            <input type="hidden" id="classid" name="classid" value="<%= classid %>">
                            <input type="hidden" id="level" name="level" value="<%= level %>">
                            <input type="hidden" id="programtype" name="programtype" value="<%= programtype %>">
                            <input type="hidden" id="dpt" name="dpt" value="<%= dpt %>">
                            <input type="hidden" id="batchid" name="batchid" value="<%= batchid %>">
                           
                        </div>
                        <p></p>
                        <fieldset id="studentlisti">
                          <div class="table-responsive">
                            <table class="table  table-responsive">
                              <thead>
                                <tr>
                             
                                  <th> # </th>
                                  <th> Trainee ID </th>
                                  <th> Full Name </th>
                             
                                  <th> Evaluation(Internship) </th>
            
                                </tr>
                              </thead>
                              <tbody>
                                <% if(levelbased.length >0 ) { %>
                                    <% var i = 0 ;%>
                                       <% levelbased.forEach(function (row){ %>
                                      <% i++ %>
                                        <tr>
                                    
                                            <% var name = JSON.parse(JSON.stringify(row.personal_info)); %>
                                            <% var fullname = name.firstname +" "+name.middlename +" "+name.lastname %>
                                         
                                            <td><%= i %></td>
                                            <td><%= row.student_unique_id%></td>
                                            <td><%= fullname %></td>
                                          
                                            <td><input id="<%= row.trainee_id %>"
 name="<%= row.trainee_id %>" onkeypress="return isNumberKey(event)" 
           type="text" class="form-control"> </td>
                                       
                                          </tr>

                                        <% })}else{} %>
                                  
                                  
                              </tbody>
                            </table>
                          </div>
                          <div class="row">
                            <div class="col-md-6 offset-md-3  mt-2">
                              <button type="submit" id="addevaluationi" class="btn btn-block btn-sm form-control btn-primary">Submit</button>
                            </div>
                          </div>
                        </fieldset>
                       
                      
                      </div>
                    </div>
                  </div>
               
                </div>
               
              </div>
            </div>
          </div>
          <div class="modal fade" id="exampleModalp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Practical Evaluation </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="alert  alert-dismissible fade show" role="alert" style="display: none;" id="servermsg">
                    <p id="msg"></p>
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                     </button>
                   </div>
                  <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Student List</h4>
                        </div>
                      <div class="card-body">
                       
                        <p class="card-description">
                          </p>
                          <div class="form-group">
                            <label>Please Select Learning Objective First</label>
                          <select class="form-control" name="losp" id="losp">
                            <option value="0">Please select learning objective</option>
                            <% if(courselist.length >0) {%>
                              <% courselist.forEach(function (row){ %>
                            
                                  <%
                                  var selectioncriteria= [];
                                 var x =[];
                                 var z= [];
                                 var objs = JSON.parse(JSON.stringify(row.learning_obj));
                                 selectioncriteria.push(objs);
                                 selectioncriteria.forEach(obj => {
                                   Object.entries(obj).forEach(([key, value]) => {
                                      var key  = key;
                                      var value =value;
                                      x.push(key);
                                      z.push(value);
                                   });
                                 
                               });%>
                               
                               <% for(var i= 0 ; i < x.length ; i++ ) { %>
                               <option value="<%= x[i] %>"><%= z[i] %></option>
                                 
                              
                              
                               <% } %>
                         
                             <% })}else {}%>
                          </select>
                          <input class="form-control" name="totmarkp" onkeypress="return isNumberKey(event)" 
           type="text"  id="totmarkp" placeholder="Please enter total marks">
                          <input type="hidden" id="courseid" name="courseid" value="<%= courseid %>">
                            <input type="hidden" id="classid" name="classid" value="<%= classid %>">
                            <input type="hidden" id="level" name="level" value="<%= level %>">
                            <input type="hidden" id="programtype" name="programtype" value="<%= programtype %>">
                            <input type="hidden" id="dpt" name="dpt" value="<%= dpt %>">
                            <input type="hidden" id="batchid" name="batchid" value="<%= batchid %>">
                           
                        </div>
                        <p></p>
                        <fieldset id="studentlistp">
                          <div class="table-responsive">
                            <table class="table  table-responsive">
                              <thead>
                                <tr>
                             
                                  <th> # </th>
                                  <th> Trainee ID </th>
                                  <th > Full Name </th>
                             
                                  <th> Evaluation(Practical) </th>
            
                                </tr>
                              </thead>
                              <tbody>
                                <% if(levelbased.length >0 ) { %>
                                    <% var i = 0 ;%>
                                       <% levelbased.forEach(function (row){ %>
                                      <% i++ %>
                                        <tr>
                                    
                                            <% var name = JSON.parse(JSON.stringify(row.personal_info)); %>
                                            <% var fullname = name.firstname +" "+name.middlename +" "+name.lastname %>
                                         
                                            <td><%= i %></td>
                                            <td><%= row.student_unique_id %></td>
                                            <td><%= fullname %></td>
                                          
                                            <td><input id="<%= row.trainee_id %>" name="<%= row.trainee_id %>"
onkeypress="return isNumberKey(event)" 
           type="text" class="form-control"> </td>
                                       
                                          </tr>

                                        <% })}else{} %>
                                  
                                  
                              </tbody>
                            </table>
                          </div>
                          <div class="row">
                            <div class="col-md-6 offset-md-3  mt-2">
                              <button type="submit" id="addevaluationp" class="btn btn-block btn-sm form-control btn-primary">Submit</button>
                            </div>
                          </div>
                        </fieldset>
                       
                      
                      </div>
                    </div>
                  </div>
               
                </div>
               
              </div>
            </div>
          </div>
        <!-- /.row -->
      </div>
   <SCRIPT language=Javascript>
       
       function isNumberKey(evt)
       {
          var charCode = (evt.which) ? evt.which : evt.keyCode;
          if (charCode != 46 && charCode > 31 
            && (charCode < 48 || charCode > 57))
             return false;

          return true;
       }
       
    </SCRIPT>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <script>
     
    $(function(){
$(document).on('click', '#addevaluation', function(){
var formData = $('#studentlist').serializeArray(),
rs = formObj2Json(formData);

var personalinfo = [];

console.log(JSON.stringify(rs, undefined, 2));

personalinfo.push(rs);
console.log(personalinfo);
var senddt = [];
var totmark = document.getElementById('totmark').value;
var los = document.getElementById('los').value;
var classid = document.getElementById('classid').value;
var level = document.getElementById('level').value;
var programtype = document.getElementById('programtype').value;
var batch = document.getElementById('batchid').value;
var dpt = document.getElementById('dpt').value;
var courseid = document.getElementById('courseid').value;
if(los == "0" || totmark == "" )
{

    var x = document.getElementById("servermsg");
var msg = document.getElementById("msg");
x.style.display = "block";
x.className="alert alert-danger alert-dismissible fade show";
msg.innerHTML="Please select course name first!"
}

if(personalinfo.length >0)
{
for(var i=0 ;i < personalinfo.length ; i++)
{
var obj = personalinfo[i];
// console.log(obj)
Object.getOwnPropertyNames(obj).forEach(
function (val, idx, array) {
var tblobj = {};
var assigneval = obj[val] ;
var eachval = parseFloat(obj[val]) ;
var tot = parseFloat(totmark);
 var per = (eachval * 30 )/ tot ;
 per.toFixed(2);
tblobj['courseid'] = courseid;
tblobj['loid'] = los;
tblobj['classid'] = classid;
tblobj['studentid'] = val ;
tblobj['evaluation'] = per ;
tblobj['level'] = level ;
tblobj['programtype'] = programtype;
tblobj['batchid'] = batch ;
tblobj['department'] = dpt;


if(assigneval != "")
{
    senddt.push(tblobj) 
}

//  console.log(val + ' -> ' + obj[val]);
// console.log(classname +'==='+ val +'==='+ obj[val])
}
);
}
var tobesaveddt = JSON.stringify(senddt) 
console.log(JSON.stringify(senddt) );

convertArrayToJSON(tobesaveddt);
}


});


});

function convertArrayToJSON(tobesaveddt)
{
var TableData;
// TableData = $.toJSON(storeTblValues());
TableData =  tobesaveddt ;
//  $('#tbConvertToJSON').html('<br>JSON array: <br>' + TableData.replace(/},/g, "},<br>"));


$.ajax({
type: "POST",
url: "/teacher/trainee/savestudentevaluationtheretical",
data: "pTableData=" + TableData,    // post TableData to server script

success: function (data) {
var x = document.getElementById("servermsg");
var msg = document.getElementById("msg");

if(data.message == 'success'){ // if true (1)


x.style.display = "block";
x.className="alert alert-success alert-dismissible fade show";
msg.innerHTML="You are successfully update student evaluation!";
setTimeout(function(){// wait for 5 secs(2)
location.reload(); // then reload the page.(3)
}, 1000); 
}
else if(data.message == 'error'){

x.style.display = "block";
x.className="alert alert-danger alert-dismissible fade show";
msg.innerHTML="Error while send student evaluation data try again!"
setTimeout(function(){// wait for 5 secs(2)
location.reload(); // then reload the page.(3)
}, 1000); 
}
}
});

}
function formObj2Json(formArray) { //serialize data function
var returnArray = {};
for (var i = 0, len = formArray.length; i < len; i++)
returnArray[formArray[i].name] = formArray[i].value;
return returnArray;
}
</script>
<script>
     
  $(function(){
$(document).on('click', '#addevaluationp', function(){
var formData = $('#studentlistp').serializeArray(),
rs = formObj2Json(formData);

var personalinfo = [];

console.log(JSON.stringify(rs, undefined, 2));

personalinfo.push(rs);
console.log(personalinfo);
var senddt = [];
var totmark = document.getElementById('totmarkp').value;
var los = document.getElementById('losp').value;
var classid = document.getElementById('classid').value;
var level = document.getElementById('level').value;
var programtype = document.getElementById('programtype').value;
var batch = document.getElementById('batchid').value;
var dpt = document.getElementById('dpt').value;
var courseid = document.getElementById('courseid').value;
if(los == "0" || totmark == "" )
{

    var x = document.getElementById("servermsg");
var msg = document.getElementById("msg");
x.style.display = "block";
x.className="alert alert-danger alert-dismissible fade show";
msg.innerHTML="Please select couse name first!"
}

if(personalinfo.length >0)
{
for(var i=0 ;i < personalinfo.length ; i++)
{
var obj = personalinfo[i];
// console.log(obj)
Object.getOwnPropertyNames(obj).forEach(
function (val, idx, array) {
var tblobj = {};
var assigneval = obj[val] ;
var eachval = parseFloat(obj[val]) ;
var tot = parseFloat(totmark);
 var per = (eachval * 40 )/ tot ;
 per.toFixed(2);
tblobj['courseid'] = courseid;
tblobj['loid'] = los;
tblobj['classid'] = classid;
tblobj['studentid'] = val ;
tblobj['evaluation'] = per ;
tblobj['level'] = level ;
tblobj['programtype'] = programtype;
tblobj['batchid'] = batch ;
tblobj['department'] = dpt;

if(assigneval != "")
{
  senddt.push(tblobj) 
}

//  console.log(val + ' -> ' + obj[val]);
// console.log(classname +'==='+ val +'==='+ obj[val])
}
);
}
var tobesaveddt = JSON.stringify(senddt) 
console.log(JSON.stringify(senddt) );

convertArrayToJSONp(tobesaveddt);
}


});


});

function convertArrayToJSONp(tobesaveddt)
{
var TableData;
// TableData = $.toJSON(storeTblValues());
TableData =  tobesaveddt ;
//  $('#tbConvertToJSON').html('<br>JSON array: <br>' + TableData.replace(/},/g, "},<br>"));


$.ajax({
type: "POST",
url: "/teacher/trainee/savestudentevaluationpractical",
data: "pTableData=" + TableData,    // post TableData to server script

success: function (data) {
var x = document.getElementById("servermsg");
var msg = document.getElementById("msg");

if(data.message == 'success'){ // if true (1)


x.style.display = "block";
x.className="alert alert-success alert-dismissible fade show";
msg.innerHTML="You are successfully update student practical evaluation !";
setTimeout(function(){// wait for 5 secs(2)
location.reload(); // then reload the page.(3)
}, 1000); 
}
else if(data.message == 'error'){

x.style.display = "block";
x.className="alert alert-danger alert-dismissible fade show";
msg.innerHTML="Error while send student evaluation data try again!"
setTimeout(function(){// wait for 5 secs(2)
location.reload(); // then reload the page.(3)
}, 1000); 
}
}
});

}
function formObj2Json(formArray) { //serialize data function
var returnArray = {};
for (var i = 0, len = formArray.length; i < len; i++)
returnArray[formArray[i].name] = formArray[i].value;
return returnArray;
}
</script>
<script>
     
  $(function(){
$(document).on('click', '#addevaluationi', function(){
var formData = $('#studentlisti').serializeArray(),
rs = formObj2Json(formData);

var personalinfo = [];

console.log(JSON.stringify(rs, undefined, 2));

personalinfo.push(rs);
console.log(personalinfo);
var senddt = [];
var totmark = document.getElementById('totmarki').value;
var los = document.getElementById('losi').value;
var classid = document.getElementById('classid').value;
var level = document.getElementById('level').value;
var programtype = document.getElementById('programtype').value;
var batch = document.getElementById('batchid').value;
var dpt = document.getElementById('dpt').value;
var courseid = document.getElementById('courseid').value;
if(los == "0" || totmark == "" )
{

    var x = document.getElementById("servermsg");
var msg = document.getElementById("msg");
x.style.display = "block";
x.className="alert alert-danger alert-dismissible fade show";
msg.innerHTML="Please select couse name first!"
}

if(personalinfo.length >0)
{
for(var i=0 ;i < personalinfo.length ; i++)
{
var obj = personalinfo[i];
// console.log(obj)
Object.getOwnPropertyNames(obj).forEach(
function (val, idx, array) {
var tblobj = {};
var assigneval = obj[val] ;
var eachval = parseFloat(obj[val]) ;
var tot = parseFloat(totmark);
 var per = (eachval * 30 )/ tot ;
 per.toFixed(2);
tblobj['courseid'] = courseid;
tblobj['loid'] = los;
tblobj['classid'] = classid;
tblobj['studentid'] = val ;
tblobj['evaluation'] = per ;
tblobj['level'] = level ;
tblobj['programtype'] = programtype;
tblobj['batchid'] = batch ;
tblobj['department'] = dpt;


if(assigneval != "")
{
  senddt.push(tblobj) 
}

//  console.log(val + ' -> ' + obj[val]);
// console.log(classname +'==='+ val +'==='+ obj[val])
}
);
}
var tobesaveddt = JSON.stringify(senddt) 
console.log(JSON.stringify(senddt) );

convertArrayToJSONi(tobesaveddt);
}


});


});

function convertArrayToJSONi(tobesaveddt)
{
var TableData;
// TableData = $.toJSON(storeTblValues());
TableData =  tobesaveddt ;
//  $('#tbConvertToJSON').html('<br>JSON array: <br>' + TableData.replace(/},/g, "},<br>"));


$.ajax({
type: "POST",
url: "/teacher/trainee/savestudentevaluationinternship",
data: "pTableData=" + TableData,    // post TableData to server script

success: function (data) {
var x = document.getElementById("servermsg");
var msg = document.getElementById("msg");

if(data.message == 'success'){ // if true (1)


x.style.display = "block";
x.className="alert alert-success alert-dismissible fade show";
msg.innerHTML="You are successfully update student evaluation!";
setTimeout(function(){// wait for 5 secs(2)
location.reload(); // then reload the page.(3)
}, 1000); 
}
else if(data.message == 'error'){

x.style.display = "block";
x.className="alert alert-danger alert-dismissible fade show";
msg.innerHTML="Error while send student evaluation data try again!"
setTimeout(function(){// wait for 5 secs(2)
location.reload(); // then reload the page.(3)
}, 1000); 
}
}
});

}
function formObj2Json(formArray) { //serialize data function
var returnArray = {};
for (var i = 0, len = formArray.length; i < len; i++)
returnArray[formArray[i].name] = formArray[i].value;
return returnArray;
}
</script>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
      <!-- Brand Logo -->
      <%- include('./partials/footer') %> 
</footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../plugins/jszip/jszip.min.js"></script>
<script src="../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
</body>
</html>
