
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>selam</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../../../plugins/fontawesome-free/css/all.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="../../../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../../../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="../../../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <%- include('./partials/top') %>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar  elevation-4">
    <!-- Brand Logo -->
         <!-- Brand Logo -->
         <%- include('./partials/sidebar') %>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Dashboard</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Student Evaluation Result List</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary ">
                        <div class="card-header">
                            <h4 class="card-title">Student Evaluation Result List</h4>
                        </div>
                      <div class="card-body">
                        <%- include ('./partials/messages') %>
                        <div class="alert  alert-dismissible fade show" role="alert" style="display: none;" id="servermsg">
                           <p id="msg"></p>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                      <br>
                      <div class="row">
                      
                        <div class="row" style="display: none;">
                            <div class="col-sm-12 col-md-6">
                                <div class="dt-buttons btn-group flex-wrap">               
                            <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>Copy</span></button> 
                            <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>CSV</span></button> 
                            <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>Excel</span></button> 
                            <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>PDF</span></button>
                             <button class="btn btn-secondary buttons-print" tabindex="0" aria-controls="example1" type="button"><span>Print</span></button> <div class="btn-group">
                                 <button class="btn btn-secondary buttons-collection dropdown-toggle buttons-colvis" tabindex="0" aria-controls="example1" type="button" aria-haspopup="true" aria-expanded="false"><span>Column visibility</span></button></div> </div></div>
                                 
                                 <div class="col-sm-12 col-md-6"><div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label></div></div>
                                </div>
                                <div class="row">
                                   
                                    <div class="col-md-4 mb-2">
                                      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                                       Send Grade Report To Department
                                      </button>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card card-primary card-outline shadow-lg">
                                      <div class="card-header">
                                        <h3 class="card-title"></h3>
                        
                                        <div class="card-tools">
                                          <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                                          </button>
                                        </div>
                                        <!-- /.card-tools -->
                                      </div>
                                      <!-- /.card-header -->
                                      <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                              <div class="alert  alert-dismissible">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                <blockquote>
                                                  <% if(addinfo.length >0) {%>
                                                    <% addinfo.forEach(function (row){ %>
                                                      
                                                        <small>Batch Name :<%= row.batch_name %><br>
                                                        Department Name: <%= row.department_name %><br>
                                                        Occupation Name: <%= row.occupation_name %><br>
                                                        Class Name: <%= row.class_name %></small><br>
                                                   <% })}else {}%>    
                                                <% if(courselist.length >0) {%>
                                                  <% courselist.forEach(function (row){ %>
                                                      <small>Course Name :<%= row.course_name %><br>
                                                      Module Code: <%= row.course_code %></br>
                                                      Duration: <%= row.training_hours %></small>
                                                 <% })}else {}%>   
                                                
                                                </blockquote>
                                              </div>
                                            </div>
                                            <div class="col-md-4"></div>
                                        </div>
                                        <div class="col-md-12  grid-margin stretch-card">    
                                            <div class="">
               
                                         <div class="">
                                          
                                           <div class="table-responsive" >
                                               <table aria-describedby="example1_info" role="grid" class="table table-bordered table-striped dataTable dtr-inline" id="example1">
                                                 <thead>
                                                   <tr>
                                   <th>#</th>
                                  
                                                     <th>Full Name</th>
                                                     <th>Student ID</th>
                                                     <th>Sex</th>
                                                     <th>Age</th>
               
                                                     <th> Institutional Assessment</th>
                                                     <th> Industry Assessment</th>
                                                     <th> Total Result</th>
                                                     <th> Grade In Latter</th>
                                                     <th> Grade In Point</th>
                                                   </tr>
                                                 </thead>
                                                 <tbody>
                                 
                                                    
                                                 
                                                  <% if(levelbased.length >0 ) { %>
                                                   <% var y = 0 ;%>
                                                      <% levelbased.forEach(function (row){ %>
                                                       <% y++ %>
                                                       <% var one, two,three; %>
                                                       <% var name = JSON.parse(JSON.stringify(row.personal_info)); %>
                                                       <% var contact = JSON.parse(JSON.stringify(row.contact_info)); %>
                                                       <% var fullname = name.firstname +" "+name.middlename +" "+name.lastname %>
                                                       <% var contactself = name.firstname +"/ "+contact.phoneNumber_1  %>
                                                       <% var contactemergency = contact.emergencyname +"/ "+contact.emergencyphone  %>
                                                       <tr>
                                                           <td><%= y %></td>
                                                         
                                                           <td ><%= fullname %></td>
                                                           <td><%= row.student_unique_id %>
                                                          <% if(row.is_confirm_teacher == "Yes"){%>
                                                            <label class="badge bg-success">Sent</label><input type="checkbox" class="icheck-success d-inline" checked>

                                                            <%}%><br>

                                                          </td>
                                                           
                                                           <td><% var gender = name.gender %><%= gender="m"?"Male":"Female" %></td>
                                                           
                                                               <td> <%  var claculatedagee=   getAge(new Date(name.birthday)); 
                                                                function getAge(date) { 
                                                                    var diff = Date.now() - date.getTime();
                                                                    var age = new Date(diff); 
                                                                    return Math.abs(age.getUTCFullYear() - 1970);
                                                                }
                                                                %>
                                                              <%= claculatedagee %>
                                                              </td>
                                                              
                                                               <%
                                                               var theory = 0;
                                                               var practice =  0;
                                                               var intern =  0;
                                                               
                                                               var te= [];
                                                              var x =[];
                                                              var z= [];
                                                              var objs = JSON.parse(JSON.stringify(row.theroretical_evaluation));
                                                              te.push(objs);
                                                              te.forEach(obj => {
                                                                Object.entries(obj).forEach(([key, value]) => {
                                                                   var key  = key;
                                                                   var value =value;
                                                                   x.push(key);
                                                                   z.push(value);
                                                                   theory += parseFloat(value);
                                                                });
                                                              
                                                            });%>
                                                            <%
                                                            var pe= [];
                                                           var xp =[];
                                                           var zp = [];
                                                           var objsp = JSON.parse(JSON.stringify(row.practical_evaluation));
                                                           pe.push(objsp);
                                                           pe.forEach(obj => {
                                                             Object.entries(obj).forEach(([key, value]) => {
                                                                var key  = key;
                                                                var value =value;
                                                                xp.push(key);
                                                                zp.push(value);
                                                                practice += parseFloat(value);
                                                             });
                                                           
                                                         });%>
                                                         <%
                                                         var ie= [];
                                                        var xi =[];
                                                        var zi = [];
                                                        var objsi =row.industry_evaluation;
                                                        if(typeof objsi === 'object' && objsi !== null)
                                                        {
                                                            objsi = JSON.parse(JSON.stringify(row.industry_evaluation));
                                                        }
                                                        else{
                                                            objsi = "";
                                                        }
                                                       
                                                        ie.push(objsi);
                                                        ie.forEach(obj => {
                                                          Object.entries(obj).forEach(([key, value]) => {
                                                             var key  = key;
                                                             var value =value;
                                                             xi.push(key);
                                                             zi.push(value);
                                                             intern += parseFloat(value);
                                                          });
                                                        
                                                      });%>
                                                       <% 
                                                       theory = theory/x.length;
                                                       practice = practice/xp.length;
                                                       intern = intern/xi.length;
                                                       %>
                                                         
                                                           <td>
                                                             
                                                               <% var institutional = theory + practice;%>
                                                               <%= institutional.toFixed(2) %>
                                                             </td>
                                                             <td>
                                                             
                                                              <% var industry = intern.toFixed(2)  ;%>
                                                              <%= industry %>
                                                            </td>
                                                            <td>
                                                             
                                                              <% var total = theory+ practice + intern ;%>
                                                              <%= total.toFixed(2) %>
                                                            </td>
                                                        
                                                            <% var gradepoint,gradelater ; 
                                                            if(total < 50 ){
                                                         gradelater = "F";
                                                         gradepoint = 0;
                                                            }else if(total>=50 && total < 65){
                                                               gradelater = "D";
                                                               gradepoint = 1;
                                                            }else if(total>=65 && total < 74){
                                                               gradelater = "C";
                                                               gradepoint = 2;
                                                            }else if(total>=74 && total < 85){
                                                               gradelater = "B";
                                                               gradepoint = 3;
                                                            }else if(total>=85 && total < 100){
                                                               gradelater = "A";
                                                               gradepoint = 4;
                                                           } %>
                                                            <td>
                                                           <%= gradelater %>
                                                            </td>
                                                            <td>
                                                           <%= gradepoint %>   
                                                            </td>
                                                       
                                                         </tr>
                                                    <%  })} else{}     %>
                                                   
                                               
                                   
                                                      
                                                  
                                                 
                                                 </tbody>
                                               </table>
                                             </div>
                                         
                                         </div>
                                       </div>
                                     </div> 
                                      </div>
                                      <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                  </div>
                      
                   
                  
                    </div>
                        
                
                        </div>
                      </div>
                    </div>
                
                   
               
                        
        
                           
                        </div>
              </div>
          
          </div>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Send Evaluation To Department  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Trainee List</h4>
                        </div>
                      <div class="card-body">
                        <div class="alert  alert-dismissible">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                          <blockquote>
                            <% if(addinfo.length >0) {%>
                              <% addinfo.forEach(function (row){ %>
                                
                                  <small>Batch Name :<%= row.batch_name %><br>
                                  Department Name: <%= row.department_name %><br>
                                  Occupation Name: <%= row.occupation_name %><br>
                                  Class Name: <%= row.class_name %></small><br>
                             <% })}else {}%>    
                          <% if(courselist.length >0) {%>
                            <% courselist.forEach(function (row){ %>
                                <small>Course Name :<%= row.course_name %><br>
                                Module Code: <%= row.course_code %></br>
                                Duration: <%= row.training_hours %></small>
                           <% })}else {}%>   
                          
                          </blockquote>
                        </div>
                        <div class="alert  alert-dismissible fade show" role="alert" style="display: none;" id="servermsg">
                            <p id="msg"></p>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                             </button>
                           </div>
                       <div class="form-group">
                              <input type="hidden" id="courseid" name="courseid" value="<%= courseid %>">
                            
                            <input type="hidden" id="classid" name="classid" value="<%= classid %>">
                            <input type="hidden" id="level" name="level" value="<%= level %>">
                            <input type="hidden" id="programtype" name="programtype" value="<%= programtype %>">
                            <input type="hidden" id="dpt" name="dpt" value="<%= dpt %>">
                            <input type="hidden" id="batchid" name="batchid" value="<%= batchid %>">
                           
                        </div>
                        <p></p>
                        <fieldset id="studentlist">
                          <div class="table-responsive">
                            <table class="table  table-sm table-striped table-responsive" id="tablesend">
                              <thead>
                                <tr>
                                
                                    <th></th>
                                    <th></th>
                                   <th><small>#</small></th>
                                                      <th><small>Full Name</small> </th>
                                                      <th><small>Trainee ID</small></th>
                                                      <th><small> Sex</small></th>
                                                      <th><small> Age</small></th>
                
                                                      <th><small> Institutional Assessment</small> </th>
                                                      <th><small> Industry Assessment</small> </th>
                                                      <th><small> Total Result</small> </th>
                                                      <th><small> Grade In Latter</small> </th>
                                                      <th><small> Grade In Point</small> </th>
                                                    </tr>
                              </thead>
                              <tbody>
                                 
                                                    
                                                 
                                <% if(levelbased.length >0 ) { %>
                                 <% var y = 0 ;%>
                                    <% levelbased.forEach(function (row){ %>
                                     <% y++ %>
                                     <% var one, two,three; %>
                                     <% var name = JSON.parse(JSON.stringify(row.personal_info)); %>
                                     <% var contact = JSON.parse(JSON.stringify(row.contact_info)); %>
                                     <% var fullname = name.firstname +" "+name.middlename +" "+name.lastname %>
                                     <% var contactself = name.firstname +"/ "+contact.phoneNumber_1  %>
                                     <% var contactemergency = contact.emergencyname +"/ "+contact.emergencyphone  %>
                                    <% if(row.is_confirm_teacher == "No") { %>
                                      <tr>
                                        <td>
                                         <div style="display: none;">
                                           <%= row.trainee_id %>
                                         </div>
                                         </td>
                                      <td>
                                        <button class="btn btn-xs btn-danger" onclick="removeRow(this)">x</button>
                                      </td>
                                      <td> <small> <%= y %></small></td>
                                        <td ><small> <%= fullname %></small> </td>
                                        <td><small><%= row.student_unique_id %> </small> </td>
                                        
                                        <td><small> <% var gender = name.gender %><%= gender==="m"?"Male":"Female" %> </small></td>
                                        
                                            <td> <%  var claculatedagee=   getAge(new Date(name.birthday)); 
                                             function getAge(date) { 
                                                 var diff = Date.now() - date.getTime();
                                                 var age = new Date(diff); 
                                                 return Math.abs(age.getUTCFullYear() - 1970);
                                             }
                                             %>
                                             <small> <%= claculatedagee %> </small> 
                                           </td>
                                           
                                            <%
                                            var theory = 0;
                                            var practice =  0;
                                            var intern =  0;
                                            
                                            var te= [];
                                           var x =[];
                                           var z= [];
                                           var objs = JSON.parse(JSON.stringify(row.theroretical_evaluation));
                                           te.push(objs);
                                           te.forEach(obj => {
                                             Object.entries(obj).forEach(([key, value]) => {
                                                var key  = key;
                                                var value =value;
                                                x.push(key);
                                                z.push(value);
                                                theory += parseFloat(value);
                                             });
                                           
                                         });%>
                                         <%
                                         var pe= [];
                                        var xp =[];
                                        var zp = [];
                                        var objsp = JSON.parse(JSON.stringify(row.practical_evaluation));
                                        pe.push(objsp);
                                        pe.forEach(obj => {
                                          Object.entries(obj).forEach(([key, value]) => {
                                             var key  = key;
                                             var value =value;
                                             xp.push(key);
                                             zp.push(value);
                                             practice += parseFloat(value);
                                          });
                                        
                                      });%>
                                      <%
                                      var ie= [];
                                     var xi =[];
                                     var zi = [];
                                     var objsi =row.industry_evaluation;
                                     if(typeof objsi === 'object' && objsi !== null)
                                     {
                                         objsi = JSON.parse(JSON.stringify(row.industry_evaluation));
                                     }
                                     else{
                                         objsi = "";
                                     }
                                    
                                     ie.push(objsi);
                                     ie.forEach(obj => {
                                       Object.entries(obj).forEach(([key, value]) => {
                                          var key  = key;
                                          var value =value;
                                          xi.push(key);
                                          zi.push(value);
                                          intern += parseFloat(value);
                                       });
                                     
                                   });%>
                                    <% 
                                    theory = theory/x.length;
                                    practice = practice/xp.length;
                                    intern = intern/xi.length;
                                    %>
                                      
                                        <td>
                                          
                                            <% var institutional = theory + practice;%>
                                            <small>   <%= institutional.toFixed(2) %></small>
                                          
                                          </td>
                                          <td>
                                          
                                           <% var industry = intern.toFixed(2)  ;%>
                                           <small>  <%= industry %> </small>
                                         
                                         </td>
                                         <td>
                                          
                                           <% var total = theory+ practice + intern ;%>
                                           <small>   <%= total.toFixed(2) %></small>
                                         
                                         </td>
                                     
                                         <% var gradepoint,gradelater ; 
                                         if(total < 50 ){
                                      gradelater = "F";
                                      gradepoint = 0;
                                         }else if(total>=50 && total < 65){
                                            gradelater = "D";
                                            gradepoint = 1;
                                         }else if(total>=65 && total < 74){
                                            gradelater = "C";
                                            gradepoint = 2;
                                         }else if(total>=74 && total < 85){
                                            gradelater = "B";
                                            gradepoint = 3;
                                         }else if(total>=85 && total < 100){
                                            gradelater = "A";
                                            gradepoint = 4;
                                        } %>
                                         <td>
                                       
                                        <small>  <%= gradelater %></small>
                                         </td>
                                         <td>
                                    
                                        <small>    <%= gradepoint %>    </small>
                                         </td>
                                    
                                      </tr>
                                    <%  } else {} %>
                                   
                                  <%  })} else{}     %>
                                 
                             
                 
                                    
                                
                               
                               </tbody>
                            </table>
                          </div>
                          <div class="row">
                            <div class="col-md-6 offset-md-3  mt-2">
                              <button type="button" onclick=" convertArrayToJSON();" class="btn btn-block btn-sm form-control btn-primary">Submit</button>
                            </div>
                          </div>
                        </fieldset>
                       
                      
                      </div>
                    </div>
                  </div>
               
                </div>
               
              </div>
            </div>
          </div>
         
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <script>
     let removeRow = (oButton) => {
        let empTab = document.getElementById('tablesend');
        empTab.deleteRow(oButton.parentNode.parentNode.rowIndex); // buttton -> td -> tr
    }
</script>


<script>
          
    function storeTblValues()
    {
        var TableData = new Array();
       
        $('#tablesend tr').each(function (row, tr) {
         
          var currentRow=$(this);
          var col =currentRow.find("td:eq(1)").text();
if(!col.length )
{

}
else{
var col1_value= document.getElementById('batchid').value;
var col2_value=document.getElementById('programtype').value;
var col3_value=document.getElementById('level').value;
var col4_value=document.getElementById('dpt').value;
var col5_value=document.getElementById('classid').value;
var col6_value=currentRow.find("td:eq(0)").text();
var col7_value=document.getElementById('courseid').value;
var col8_value=currentRow.find("td:eq(7)").text();
var col9_value=currentRow.find("td:eq(8)").text();
var col10_value=currentRow.find("td:eq(9)").text();
var col11_value=currentRow.find("td:eq(10)").text();
var col12_value=currentRow.find("td:eq(11)").text();


var obj={};

obj.batch_id=col1_value.trim();
obj.program_type=col2_value.trim();
obj.training_level=col3_value.trim();
obj.department_id=col4_value.trim();
obj.class_id=col5_value.trim();
obj.student_id=col6_value.trim();
obj.course_id=col7_value.trim();

obj.institutional_total=col8_value.trim();
obj.industry_total=col9_value.trim();
obj.total_result=col10_value.trim();
obj.grade_in_latter=col11_value.trim();
obj.grade_in_point=col12_value.trim();
obj.is_confirm_registrar="No";
obj.is_confirm_department="No";
obj.is_confirm_teacher="Yes";

if(col6_value !="" || col7_value!=""  || col8_value!=""  || col9_value!=""  || col10_value!=""  || col11_value!=""  || col12_value!="" ){
  TableData.push(obj);
}


console.log(obj);
}


        });
      // first row will be empty - so remove
        return TableData;
    }

    function convertArrayToJSON()
    {
        var TableData;
       // TableData = $.toJSON(storeTblValues());
       TableData =  JSON.stringify(storeTblValues());
      //  $('#tbConvertToJSON').html('<br>JSON array: <br>' + TableData.replace(/},/g, "},<br>"));


$.ajax({
            type: "POST",
            url: "/trainer/evaluation/sendgradereporttodepartment",
            data: "pTableData=" + TableData,    // post TableData to server script

            success: function (data) {
      
              if(data.message == 'success'){ // if true (1)

                var x = document.getElementById("servermsg");
var msg = document.getElementById("msg");

x.style.display = "block";
x.className="alert alert-success alert-dismissible fade show";
msg.innerHTML="You are successfully sent student evaluation data to department!";
setTimeout(function(){// wait for 5 secs(2)
location.reload(); // then reload the page.(3)
}, 1000); 
}
else{

    var x = document.getElementById("servermsg");
var msg = document.getElementById("msg");
x.style.display = "block";
x.className="alert alert-danger alert-dismissible fade show";
msg.innerHTML="Please select couse name first!"
setTimeout(function(){// wait for 5 secs(2)
location.reload(); // then reload the page.(3)
}, 1000); 
}
            }
        });
   
      }


</script>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
      <!-- Brand Logo -->
      <%- include('./partials/footer') %> 
</footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../../../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../../../plugins/jszip/jszip.min.js"></script>
<script src="../../../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../../../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="../../../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../../../dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
    var test = '<%- JSON.stringify(addinfo) %>'; 
  var data = JSON.parse(test)
  var test2 = '<%- JSON.stringify(courselist) %>'; 
  var data2 = JSON.parse(test2)
  var  batchname,departmentname,occupationname,classname,coursename ;
  data.forEach(item =>{
   batchname = item.batch_name;
   departmentname = item.department_name;
   occupationname = item.occupation_name;
  
  });
  data2.forEach(item =>{
  coursename = item.course_name  
  });
  $(function () {
    $("#example1").DataTable({
      "responsive": false, "lengthChange": true, "autoWidth": true,"width":400,
      "buttons": ["copy", "csv", "excel", "pdf",  {
                extend: 'print',
                customize: function ( win ) {
                    $(win.document.body)
                        .css( 'font-size', '10pt' )
                        .prepend(
                            '<img src="" style="position:absolute; top:0; left:0;" />'
                            
                            );
 
                    $(win.document.body).find( 'table' )
                        .addClass( 'compact' )
                        .css( 'font-size', 'inherit' );
                },
                title: function() {
    return  "  <table> <tr style='  border-collapse: collapse;'><td><img src='../../../dist/img/logoselam.jpg' width='150px' height='150px'></td>"+
   " <td > <h4> Selam David Roeschli Technical And Vocational College  </h4> <h6><small><br> "+batchname+"<br> "+departmentname+"<br> "+occupationname+"<br> "+coursename+" </small><br> Trainee Grade Report</h6> </td> </tr> </table>"
              
  } ,

                
                exportOptions: {
                    columns: ':visible'
                }
            }, "colvis"],
            columnDefs: [ {
            targets: -1,
            visible: true
        }]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  });
</script>
</body>
</html>
