<html lang="en" style="height: auto;"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SELAM_TVC</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- IonIcons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../../dist/css/adminlte.min.css">
<style type="text/css">/* Chart.js */
@keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style></head>
<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->
<body class="sidebar-mini sidebar-closed sidebar-collapse" style="height: auto;">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/department/dashboard" class="nav-link">Home</a>
      </li>
   
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
     

      <!-- Messages Dropdown Menu -->
  
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"   href="/department/logout" role="button">
          Logout
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar  elevation-4">
    <!-- Brand Logo -->
    <%- include('./partials/sidebar') %>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 2128.12px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Assign Section Representative</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
          <div class="col-md-12">
              <div class="card card-primary">
                  <div class="card-header">
                      <h4 class="card-title">Section List</h4>
                    </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12  grid-margin stretch-card">     <div class="card">
                        <div class="card-body">
                          <h4 class="card-title"> Section List</h4><br>
                          <div class="alert  alert-dismissible fade show" role="alert" id="server" style="display: none;">
                            <p id="servermsg"></p>
                             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                               <span aria-hidden="true">×</span>
                             </button>
                           </div>
                         
                         <div class="row">
                           <input type="hidden" name="programid" id="programid" value="<%= programid %>">
                           <input type="hidden" name="level" id="level" value="<%= traininglevel %>">
                           <input type="hidden" name="programtype" id="programtype" value="<%= programtype %>">
                        

                         </div>
                          <fieldset id="level1">
                          <div class="table-responsive" id="trainingdata">
                            <table class="table table-hover">
                              <thead>
                             
                                <tr>
                <th>#</th>
                                
                                  <th>Section Name </th>
                                  <th>Current Section Representative </th>
                                  <th>Assign Section Rep. Teacher</th>
                                </tr>
                              </thead>
                              <tbody>
              
                                 
                                <% if(classlist.length >0) {%>
                                  <% var i = 0; %>
                                  <% classlist.forEach(function (row){ %>
                                        <% i++; %>          
                                        <tr>
                                          <td><%= i %></td>
                                          <td><%= row.class_name %></td>
                                          <td><%var assrep = row.rep_teacher_id %>
                                            <% if(teacherlist.length >0) {%>
                                              <% teacherlist.forEach(function (aaa){ %>
                                             <% var stid = aaa.staff_id %>
                                             <% if(stid===assrep) {%>
                                              <%= aaa.staff_f_name %> &nbsp; <%= aaa.staff_m_name %>

                                                <%} })}else {}%>
                                          </td>
                                         
                                          <td>
                                          
                                            <div class="form-group">
                                              <select class="form-control" id="<%= row.class_id %>" name="<%= row.class_id %>">
                                                <option value="0">Please select teacher name</option>
                                                <% if(teacherlist.length >0) {%>
                                                 <% teacherlist.forEach(function (aaa){ %>
                                                   <option value="<%= aaa.staff_id %>"><%= aaa.staff_f_name %> <%= aaa.staff_m_name %> </option>
                                                <% })}else {}%>
                                                </select>
                                          </div>
                                         </td>
                                        </tr>
                                
                                    <% })}else {}%>   
                                
                                
                              </tbody>
                            </table>
                          </div>
                          <div class="col-md-6 offset-md-3">
                         
                            <button class=" btn btn-block mb-2 btn-sm btn-primary" id="addlevel1"  type="submit">Submit</button>
                         
                        </div>
                        </fieldset>
                      
                        </div>
                      
                      </div>
                    </div>
                 
                
                  </div>
                    <div class="tab-content " id="myTabContent">
                      <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">   
                         
                    </div>
                    <script>
                      $(function(){
$(document).on('click', '#addlevel1', function(){
var formData = $('#level1').serializeArray(),
rs = formObj2Json(formData);

var personalinfo = [];

// console.log(JSON.stringify(rs, undefined, 2));

personalinfo.push(rs);
console.log(personalinfo);
var programtype = document.getElementById('programtype').value;
var traininglevel = document.getElementById('level').value;
var batchid = document.getElementById('programid').value;
var senddt = [];

if(personalinfo.length >0)
{
for(var i=0 ;i < personalinfo.length ; i++)
{
var obj = personalinfo[i];
// console.log(obj)
Object.getOwnPropertyNames(obj).forEach(
function (val, idx, array) {
var tblobj = {};
var assignteacher = obj[val] 

tblobj['class'] = val ;
tblobj['teacher'] = obj[val] ;

if(assignteacher != "0")
{
senddt.push(tblobj)
}

console.log(val + ' -> ' + obj[val]);
// console.log(classname +'==='+ val +'==='+ obj[val])
}
);
}
}
var tobesaveddt = JSON.stringify(senddt) ;
console.log(tobesaveddt);
if(senddt.length === 0){
var x = document.getElementById("server");
var msg = document.getElementById("servermsg");
x.style.display = "block";
x.className="alert-danger alert  alert-dismissible fade show";
msg.innerHTML="Please select teacher name to assign first"
setTimeout(function(){// wait for 5 secs(2)
location.reload(); // then reload the page.(3)
}, 1000); 
}
else{
convertArrayToJSON(tobesaveddt);
}

//document.getElementById('extrainfo').value = rs;

//  $("#myModal").modal('show');
//   $('#rs').html(JSON.stringify(rs, undefined, 2));
});


});

function convertArrayToJSON(tobesaveddt)
  {
      var TableData;
     // TableData = $.toJSON(storeTblValues());
     TableData =  tobesaveddt ;
    //  $('#tbConvertToJSON').html('<br>JSON array: <br>' + TableData.replace(/},/g, "},<br>"));


$.ajax({
          type: "POST",
          url: "/department/teacher/saveassignclassrepresentative",
          data: "pTableData=" + TableData,    // post TableData to server script

          success: function (data) {
            var x = document.getElementById("server");
var msg = document.getElementById("servermsg");

            if(data.message == 'success'){ // if true (1)

            
x.style.display = "block";
x.className="alert-success alert  alert-dismissible fade show";
msg.innerHTML="You are successfully assign class teacher to course list!";
setTimeout(function(){// wait for 5 secs(2)
location.reload(); // then reload the page.(3)
}, 1000); 
}
else{

x.style.display = "block";
x.className="alert-danger alert  alert-dismissible fade show";
msg.innerHTML="Error while assign teacher to course list request try again!"
setTimeout(function(){// wait for 5 secs(2)
location.reload(); // then reload the page.(3)
}, 1000); 
}
          }
      });
 
    }
function formObj2Json(formArray) { //serialize data function
var returnArray = {};
for (var i = 0, len = formArray.length; i < len; i++)
returnArray[formArray[i].name] = formArray[i].value;
return returnArray;
}
                    </script>
                  
                </div>
              </div>
          
             
         
                  
  
                     
                  </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
<!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
      <%- include ('./partials/footer') %>
  </footer>

<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="../../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="../../../dist/js/adminlte.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="../../../plugins/chart.js/Chart.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../../dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="../../../dist/js/pages/dashboard3.js"></script>
<script src="../../plugins/toastr/toastr.min.js"></script>


</body></html>
