<html lang="en" style="height: auto;"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SELAM_TVC</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- IonIcons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../../dist/css/adminlte.min.css">
<style type="text/css">/* Chart.js */
@keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style></head>
<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->
<body class="sidebar-mini sidebar-closed sidebar-collapse" style="height: auto;">
<div class="wrapper">
  <!-- Navbar -->
  <%- include('./partials/top') %>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar  elevation-4">
    <!-- Brand Logo -->
    <%- include('./partials/sidebar') %>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 2128.12px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Assign Section Representative</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
          <div class="col-md-12">
              <div class="card card-primary">
                  <div class="card-header">
                      <h4 class="card-title">Section List</h4>
                    </div>
                <div class="card-body">
                  <div class="row">
                    <div class="row" style="display: none;">
                      <div class="col-sm-12 col-md-6">
                          <div class="dt-buttons btn-group flex-wrap">               
                      <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>Copy</span></button> 
                      <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>CSV</span></button> 
                      <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>Excel</span></button> 
                      <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>PDF</span></button>
                       <button class="btn btn-secondary buttons-print" tabindex="0" aria-controls="example1" type="button"><span>Print</span></button> <div class="btn-group">
                           <button class="btn btn-secondary buttons-collection dropdown-toggle buttons-colvis" tabindex="0" aria-controls="example1" type="button" aria-haspopup="true" aria-expanded="false"><span>Column visibility</span></button></div> </div></div>
                           
                           <div class="col-sm-12 col-md-6"><div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label></div></div>
                          </div>
                    <div class="col-md-12  grid-margin stretch-card">     <div class="card">
                        <div class="card-body">
                         
                         <div class="row">
                           <input type="hidden" name="programid" id="programid" value="<%= programid %>">
                           <input type="hidden" name="level" id="level" value="<%= traininglevel %>">
                           <input type="hidden" name="programtype" id="programtype" value="<%= programtype %>">
                        

                         </div>
                    
                          <fieldset id="level1">
                          <div class="table-responsive" >
                            <table aria-describedby="example1_info" role="grid" class="table table-bordered table-striped dataTable dtr-inline" id="example1">
                                    
                              <thead>
                             
                                <tr>
                <th>#</th>
                                
                                  <th>Section Name </th>
                                  <th>Current Section Representative </th>
                                  <th>Assign Section Rep. Trainer</th>
                                </tr>
                              </thead>
                              <tbody>
              
                                 
                                <% if(classlist.length >0) {%>
                                  <% var i = 0; %>
                                  <% classlist.forEach(function (row){ %>
                                        <% i++; %>          
                                        <tr>
                                          <td><%= i %></td>
                                          <td><%= row.class_name %></td>
                                          <td><%var assrep = row.rep_teacher_id %>
                                            <% if(teacherlist.length >0) {%>
                                              <% teacherlist.forEach(function (aaa){ %>
                                             <% var stid = aaa.staff_id %>
                                             <% if(stid===assrep) {%>
                                              <label style="text-transform: uppercase;"><%= aaa.staff_f_name %> &nbsp; <%= aaa.staff_m_name %> &nbsp; <%= aaa.staff_l_name %>
                                              </label>
                                                <%} })}else {}%>
                                          </td>
                                         
                                          <td>
                                          
                                            <div class="form-group">
                                              <select class="form-control-sm js-example-basic-single "  id="<%= row.class_id %>" name="<%= row.class_id %>">
                                                <option value="0">Please select trainer name</option>
                                                <% if(teacherlist.length >0) {%>
                                                 <% teacherlist.forEach(function (aaa){ %>
                                                   <option value="<%= aaa.staff_id %>"><%= aaa.staff_f_name %> <%= aaa.staff_m_name %> </option>
                                                <% })}else {}%>
                                                </select>
                                          </div>
                                         </td>
                                        </tr>
                                
                                    <% })}else {}%>   
                                
                                
                              </tbody>
                            </table>
                          </div>
                          <div class="col-md-6 offset-md-3 my-2">
                            <div class="alert  alert-dismissible fade show" role="alert" id="server" style="display: none;">
                              <p id="servermsg"></p>
                               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                 <span aria-hidden="true">×</span>
                               </button>
                             </div>
                            <button class=" btn btn-block mb-2 btn-sm btn-primary" id="addlevel1"  type="submit">Submit</button>
                         
                        </div>
                        </fieldset>
                      
                        </div>
                      
                      </div>
                    </div>
                 
                
                  </div>
                    <div class="tab-content " id="myTabContent">
                      <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">   
                         
                    </div>
                    <script>
                      $(function(){
$(document).on('click', '#addlevel1', function(){
var formData = $('#level1').serializeArray(),
rs = formObj2Json(formData);

var personalinfo = [];

// console.log(JSON.stringify(rs, undefined, 2));

personalinfo.push(rs);
console.log(personalinfo);
var programtype = document.getElementById('programtype').value;
var traininglevel = document.getElementById('level').value;
var batchid = document.getElementById('programid').value;
var senddt = [];

if(personalinfo.length >0)
{
for(var i=0 ;i < personalinfo.length ; i++)
{
var obj = personalinfo[i];
// console.log(obj)
Object.getOwnPropertyNames(obj).forEach(
function (val, idx, array) {
var tblobj = {};
var assignteacher = obj[val] 

tblobj['class'] = val ;
tblobj['teacher'] = obj[val] ;

if(assignteacher != "0")
{
senddt.push(tblobj)
}

console.log(val + ' -> ' + obj[val]);
// console.log(classname +'==='+ val +'==='+ obj[val])
}
);
}
}
var tobesaveddt = JSON.stringify(senddt) ;
console.log(tobesaveddt);
if(senddt.length === 0){
var x = document.getElementById("server");
var msg = document.getElementById("servermsg");
x.style.display = "block";
x.className="alert-danger alert  alert-dismissible fade show";
msg.innerHTML="Please select trainer name to assign first"
setTimeout(function(){// wait for 5 secs(2)
location.reload(); // then reload the page.(3)
}, 1000); 
}
else{
convertArrayToJSON(tobesaveddt);
}

//document.getElementById('extrainfo').value = rs;

//  $("#myModal").modal('show');
//   $('#rs').html(JSON.stringify(rs, undefined, 2));
});


});

function convertArrayToJSON(tobesaveddt)
  {
      var TableData;
     // TableData = $.toJSON(storeTblValues());
     TableData =  tobesaveddt ;
    //  $('#tbConvertToJSON').html('<br>JSON array: <br>' + TableData.replace(/},/g, "},<br>"));


$.ajax({
          type: "POST",
          url: "/department/teacher/saveassignclassrepresentative",
          data: "pTableData=" + TableData,    // post TableData to server script

          success: function (data) {
            var x = document.getElementById("server");
var msg = document.getElementById("servermsg");

            if(data.message == 'success'){ // if true (1)

            
x.style.display = "block";
x.className="alert-success alert  alert-dismissible fade show";
msg.innerHTML="You are successfully assign class teacher to course list!";
setTimeout(function(){// wait for 5 secs(2)
location.reload(); // then reload the page.(3)
}, 1000); 
}
else{

x.style.display = "block";
x.className="alert-danger alert  alert-dismissible fade show";
msg.innerHTML="Error while assign teacher to course list request try again!"
setTimeout(function(){// wait for 5 secs(2)
location.reload(); // then reload the page.(3)
}, 1000); 
}
          }
      });
 
    }
function formObj2Json(formArray) { //serialize data function
var returnArray = {};
for (var i = 0, len = formArray.length; i < len; i++)
returnArray[formArray[i].name] = formArray[i].value;
return returnArray;
}
                    </script>
                  
                </div>
              </div>
          
             
         
                  
  
                     
                  </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
<!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
      <%- include ('./partials/footer') %>
  </footer>

<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<script>
  $(document).ready(function() {
$('.js-example-basic-single').select2();
});
</script>
<!-- jQuery -->
<script src="../../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="../../../dist/js/adminlte.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="../../../plugins/chart.js/Chart.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../../dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="../../../dist/js/pages/dashboard3.js"></script>
<script src="../../plugins/toastr/toastr.min.js"></script>
<script src="../../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../../plugins/jszip/jszip.min.js"></script>
<script src="../../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script>
   var test = '<%- JSON.stringify(occcdpt) %>'; 
  var data = JSON.parse(test)
 
  var  departmentname,occupationname;
  data.forEach(item =>{
  
   departmentname = item.department_name;
   occupationname = item.occupation_name;
  
  });
  $(function () {
    $("#example1").DataTable({
      "responsive": false, "lengthChange": false, "autoWidth": true,"width":400,
      "buttons": ["copy", "csv", "excel", "pdf",  {
                extend: 'print',
                customize: function ( win ) {
                    $(win.document.body)
                        .css( 'font-size', '10pt' )
                        .prepend(
                            '<img src="" style="position:absolute; top:0; left:0;" />'
                            
                            );
 
                    $(win.document.body).find( 'table' )
                        .addClass( 'compact' )
                        .css( 'font-size', 'inherit' );
                },
                
                title: function() {
    return  "  <table> <tr style='  border-collapse: collapse;'><td><img src='../../../dist/img/logoselam.jpg' width='150px' height='150px'></td>"+
   " <td > <h4>  Organization Name <br> Selam Technical And Vocational College <br>"+departmentname+"<br>"+occupationname+"<br> Class Representative List</h4> </td> </tr> </table>"
              
  } ,

                
                exportOptions: {
                    columns: ':visible'
                }
            }, "colvis"],
            columnDefs: [ {
            targets: -1,
            visible: true
        }]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  });
</script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</body></html>
