<html lang="en" style="height: auto;"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SELAM_TVC</title>



<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini ">
<div class="wrapper">
  <!-- Navbar -->
  <%- include('./partials/top') %>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar  elevation-4">
    <!-- Brand Logo -->
    <%- include('./partials/sidebar') %>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 2128.12px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Search Level Based Trainer</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
          <div class="card card-primary ">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-edit"></i>
               Search Level Based Trainer Reports
                </h3>
              </div>
              <div class="card-body">
                <h4>Report Type</h4>
                <div class="row">
                  <div class="col-5 col-sm-3">
                    <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
                      <a class="nav-link" id="vert-tabs-profile-tab" data-toggle="pill" href="#vert-tabs-profile" role="tab" aria-controls="vert-tabs-profile" aria-selected="false">Progress Report</a>
                      <a class="nav-link" id="vert-tabs-printid-tab" data-toggle="pill" href="#vert-tabs-printid" role="tab" aria-controls="vert-tabs-printid" aria-selected="false">Attendance Report</a>
                  
                  </div>
                  </div>
                  <div class="col-7 col-sm-9">
                    <%- include ('./partials/messages') %>
                    <div class="tab-content" id="vert-tabs-tabContent">
              
                      <div class="tab-pane fade" id="vert-tabs-profile" role="tabpanel" aria-labelledby="vert-tabs-profile-tab">
                          <form action="/department/trainee/findmyclasstoevaluatecourselevel" method="post">
                            <input type="hidden" name="reporttype" value="progress" > 
                           
                            <div class="form-group">
                                  <label>Select Level Based Program</label>
                                  <select style="width: 100%;"  class="form-control-sm js-example-basic-single " name="batchid" id="programidbatch">
                                   <option value="0">Please Select Program/Batch Name</option>
                                   <% if(levelbased.length >0) {%>
                                      <% levelbased.forEach(function (row){ %>
                                        <option value="<%= row.batch_id %>"><%= row.batch_name %></option>
                                     <% })}else {}%>
                                  </select>
                                
                              </div>
                              <div class="form-group">
                                <label>Select  Occupation</label>
                                <select style="width: 100%;"  class="form-control-sm js-example-basic-single " name="occupationid" id="occupationid">
                                 <option value="0">Please occupation Name</option>
                                 <% if(department.length >0) {%>
                                    <% department.forEach(function (row){ %>
                                      <option value="<%= row.occupation_id %>"><%= row.occupation_name %></option>
                                   <% })}else {}%>
                                </select>
                              
                            </div>
                             
                            <div class="form-group">
                              <label>Select Program Level</label>
                              <select class="form-control " name="level" id="level">
                               <option value="0">Please Select Level</option>
                               <option value="Level_1">Level_1</option>
                               <option value="Level_2">Level_2</option>
                               <option value="Level_3">Level_3</option>
                               <option value="Level_4">Level_4</option>
                               <option value="Level_5">Level_5</option>
                               
                              </select>
                            
                          </div>
                          <div class="form-group">
                            <label>Select Program Type</label>
                            <select class="form-control " name="programtype" id="programtype">
                             <option value="0">Please Select Program Type</option>
                             <option value="Regular">Regular</option>
                             <option value="Extension">Extension</option>
                            
                           
                            </select>
                          
                        </div>
                              <div class="col-md-6 offset-md-3">
                                  <button type="submit" class="btn btn-block btn-sm btn-primary">Show Progress</button>
                       
                              </div>
                              </form>
                        </div>
                        <div class="tab-pane fade" id="vert-tabs-printid" role="tabpanel" aria-labelledby="vert-tabs-printid-tab">
                          <form action="/department/attendance/attendancedata" method="post">
                            <input type="hidden" name="reporttype" value="attendance" > 
                            <input type="hidden" name="programtag" value="level" > 
                            <div class="form-group">
                                  <label>Select Level Based Program</label>
                                  <select style="width: 100%;"  class="form-control-sm js-example-basic-single " name="batchida" id="programidbatcha">
                                   <option value="0">Please Select Program/Batch Name</option>
                                   <% if(levelbased.length >0) {%>
                                      <% levelbased.forEach(function (row){ %>
                                        <option value="<%= row.batch_id %>"><%= row.batch_name %></option>
                                     <% })}else {}%>
                                  </select>
                                
                              </div>
                              <div class="form-group">
                                <label>Select  Occupation</label>
                                <select style="width: 100%;"  class="form-control-sm js-example-basic-single " name="occupationida" id="occupationida">
                                 <option value="0">Please Occupation Name</option>
                                 <% if(department.length >0) {%>
                                    <% department.forEach(function (row){ %>
                                      <option value="<%= row.occupation_id %>"><%= row.occupation_name %></option>
                                   <% })}else {}%>
                                </select>
                              
                            </div>
                            <div class="form-group">
                              <label>Select Program Level</label>
                              <select class="form-control " name="level" id="level">
                               <option value="0">Please Select Level</option>
                               <option value="Level_1">Level_1</option>
                               <option value="Level_2">Level_2</option>
                               <option value="Level_3">Level_3</option>
                               <option value="Level_4">Level_4</option>
                               <option value="Level_5">Level_5</option>
                               
                              </select>
                            
                          </div>
                              <div class="form-group">
                                <label>Select Program Type</label>
                                <select class="form-control " name="programtype" id="programtype">
                                 <option value="0">Please Select Program Type</option>
                                 <option value="Regular">Regular</option>
                                 <option value="Extension">Extension</option>
                                 
                               
                                </select>
                              
                            </div>
                            
                              <div class="col-md-6 offset-md-3">
                                  <button type="submit" class="btn btn-block btn-sm btn-primary">Show Attendance</button>
                       
                              </div>
                              </form>
                        </div>
                     
                    </div>
                  </div>
                </div>
               
              </div>
              <!-- /.card -->
            </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
<!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
      <%- include ('./partials/footer') %>
  </footer>

<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="../../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="../../../dist/js/adminlte.js"></script>
<script src="../../plugins/select2/js/select2.full.min.js"></script>
<!-- OPTIONAL SCRIPTS -->
<script src="../../../plugins/chart.js/Chart.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../../dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="../../../dist/js/pages/dashboard3.js"></script>
<script src="../../plugins/toastr/toastr.min.js"></script>

<script>
  $(document).ready(function() {
$('.js-example-basic-single').select2();
});
</script>
  
   
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  
</body></html>
