
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Selam</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <%- include('./partials/top') %>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar  elevation-4">
    <!-- Brand Logo -->
         <!-- Brand Logo -->
         <%- include('./partials/sidebar') %>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Dashboard</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Section List</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h4 class="card-title"> Section List</h4>
                </div>
              <div class="card-body">
               
                <div class="col-md-12  grid-margin stretch-card">     <div class="">
                    <div class="">
                   
                      <div class="row" style="display: none;">
                          <div class="col-sm-12 col-md-6">
                              <div class="dt-buttons btn-group flex-wrap">               
                          <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>Copy</span></button> 
                          <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>CSV</span></button> 
                          <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>Excel</span></button> 
                          <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>PDF</span></button>
                           <button class="btn btn-secondary buttons-print" tabindex="0" aria-controls="example1" type="button"><span>Print</span></button> <div class="btn-group">
                               <button class="btn btn-secondary buttons-collection dropdown-toggle buttons-colvis" tabindex="0" aria-controls="example1" type="button" aria-haspopup="true" aria-expanded="false"><span>Column visibility</span></button></div> </div></div>
                               
                               <div class="col-sm-12 col-md-6"><div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label></div></div>
                              </div>
                      <div class="table-responsive" id="trainingdata">
                          <table aria-describedby="example1_info" role="grid" class="table table-sm table-bordered table-striped dataTable dtr-inline" id="example1">
                                  
                          <thead>
                            <tr>
            <th>#</th>
          
                              <th>Training Class Name</th>
                            <th> Training Level</th>
                             <th> Training Type</th>
                            
                             <th> Attendance </th>
                            </tr>
                          </thead>
                          <tbody>
              
                              <% if(classlist.length >0 ) { %>
                                  <% var i = 0 ;%>
                                     <% classlist.forEach(function (row){ %>
                                      <% i++ %>
                                      <tr>
                                          <td><%= i %></td>
                                       
                                          <td><%= row.class_name %></td>
                                         
                                          <td><%= row.training_level %></td>
                                          <td><%= row.training_type %></td>
                                       
                                          <td>
                                            <% var curcls = row.class_id %>
                                            <% if(programtag =="level" ){ %>
                                              <form action="/department/attendance/attendancedatafromclass/<%= row.class_id %>" method="post">
                                                <input type="hidden" name="level"  value="<%= row.training_level %>">
                                                <input type="hidden" name="programtype" value="<%= programtag %>">
                                                <input type="hidden" name="dpt" value="<%= row.department_id %>">
                                                <input type="hidden" name="batchid" value="<%= row.batch_id %>">
                                               
                                                 <div class="form-group">
                                                     <button class="btn btn-block btn-outline-info btn-xs">Show Attendance Data</button>
                                                 </div>
                                               </form>
                                              
                                             <% } else if(programtag =="ngo"){ %>
                                              <form action="/department/attendance/attendancedatafromclass/<%= row.class_id %>" method="post">
                                                <input type="hidden" name="level"  value="<%= row.training_level %>">
                                                <input type="hidden" name="programtype" value="<%= programtag %>">
                                                <input type="hidden" name="dpt" value="<%= row.department_id %>">
                                                <input type="hidden" name="batchid" value="<%= row.batch_id %>">
                                             
                                                 <div class="form-group">
                                                     <button class="btn btn-block btn-outline-info btn-xs">Show Attendance Data</button>
                                                 </div>
                                               </form>
                                           <%  }else if(programtag =="industry") { %>
                                            <form action="/department/attendance/attendancedatafromclass/<%= row.class_id %>" method="post">
                                              <input type="hidden" name="level"  value="<%= row.training_level %>">
                                              <input type="hidden" name="programtype" value="<%= programtag %>">
                                              <input type="hidden" name="dpt" value="<%= row.department_id %>">
                                              <input type="hidden" name="batchid" value="<%= row.batch_id %>">
                                            
                                               <div class="form-group">
                                                   <button class="btn btn-block btn-outline-info btn-xs">Show Attendance Data</button>
                                               </div>
                                             </form>
                                            <% } %>
                                           
                                            </td>
                                          
                                        </tr>
                                   <%  })} else{}     %>
                               
                          </tbody>
                        </table>
                      </div>
                    
                    </div>
                  </div>
                </div>
             
              </div>
            </div>
        
           
       
                

                   
				</div>
          
          </div>
    
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
      <!-- Brand Logo -->
      <%- include('./partials/footer') %> 
</footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../plugins/jszip/jszip.min.js"></script>
<script src="../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
</body>
</html>
