
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../../../plugins/fontawesome-free/css/all.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="../../../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../../../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="../../../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <%- include('./partials/top') %>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar  elevation-4">
    <!-- Brand Logo -->
         <!-- Brand Logo -->
         <%- include('./partials/sidebar') %>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Dashboard</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Grade Report</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header">
                <h4 class="card-title">Grade Report</h4>
              </div>
              <div class="card-body">
                <%- include ('./partials/messages') %>
                <div class="alert  alert-dismissible fade show" role="alert" style="display: none;" id="servermsg">
                   <p id="msg"></p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <div class="row">
                  <div class="col-md-8">
                    <div class="alert  alert-dismissible">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                      <blockquote>
                        <% if(classinfo.length >0) {%>
                          <% classinfo.forEach(function (row){ %>
                            
                              <small>Batch Name :<%= row.batch_name %><br>
                              Department Name: <%= row.department_name %><br>
                              Occupation Name: <%= row.occupation_name %><br>
                              Class Name: <%= row.class_name %></small><br>
                         <% })}else {}%>    
                              <small>Course Name:<%= coourseinfo.course_name %></small> 
                      
                      </blockquote>
                    </div>
                  </div>
                  <div class="col-md-4"></div>
              </div>
                <div class="row mb-2">
             <div class="col-md-4">

             </div>
             <div class="col-md-4">
               
            </div>
            <div class="col-md-4">
             
                <div class="form-group">
                  <input type="hidden" name="courseid" value="<%= courseid %>">
                  <input type="hidden" name="programtag" value="<%= programtag %>">
                  <input type="hidden" name="deptid" value="<%= deptid %>">
                  <input type="hidden" name="batchid" value="<%= batchid %>">
                  <input type="hidden" name="classid" value="<%= classid %>">  
               
                </div>
                <button type="button" class="btn btn-primary btn-block btn-sm" data-toggle="modal" data-target="#exampleModal">
                  Send Grade Report To Registrar
                 </button>
             
            </div>
           
             </div>
                <div class="row">
                  <div class="col-md-12  grid-margin stretch-card">     <div class="card">
                      <div class="card-body">
                      
                        <div class="row" style="display: none;">
                            <div class="col-sm-12 col-md-6">
                                <div class="dt-buttons btn-group flex-wrap">               
                            <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>Copy</span></button> 
                            <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>CSV</span></button> 
                            <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>Excel</span></button> 
                            <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>PDF</span></button>
                             <button class="btn btn-secondary buttons-print" tabindex="0" aria-controls="example1" type="button"><span>Print</span></button> <div class="btn-group">
                                 <button class="btn btn-secondary buttons-collection dropdown-toggle buttons-colvis" tabindex="0" aria-controls="example1" type="button" aria-haspopup="true" aria-expanded="false"><span>Column visibility</span></button></div> </div></div>
                                 
                                 <div class="col-sm-12 col-md-6"><div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label></div></div>
                                </div>
                        <div class="table-responsive" id="trainingdata">
                            <table aria-describedby="example1_info" role="grid" class="table table-sm table-bordered table-striped dataTable dtr-inline" id="example1">
                                    
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Student ID  </th>
                                <th>Student Name</th>
                                <th>Gender </th>
                                <th>Institutional Assessment </th>    
                                <th>Industrial Assessment </th>  
                                <th>Total </th>                     
                                <th>Grade In Letter </th>
                                <th>Grade In Point</th>
                                <th>Action To Do</th>
                               
                              </tr>
                            </thead>
                            <tbody>
                
                                <% if(marklist.length >0 ) { %>
                                    <% var i = 0 ;%>
                                       <% marklist.forEach(function (row){ %>
                                        <% i++ %>
                                        <% var name = JSON.parse(JSON.stringify(row.personal_info)) %>
                                        <% console.log(name) %>
                                        <tr>
                                            <td><small> <%= i %></small> </td>
                                            <td ><small><%= row.student_unique_id %></small>
                                            <% if(row.is_confirm_department == "Yes") {%>
                                              <input type="checkbox" class="bg-success" checked>
                                              <% }%>
                                            </td>
                                            <td><small><%= name.firstname  %>&nbsp;<%= name.middlename  %></small></td>
                                            
                                            <td><%var gen =  name.gender %><small><%= gen=="m"?"Male":"Female" %></small></td>
                                          
                                            <td><small><%= row.institutional_total %></small> </td>
                                            <td><small><%= row.industry_total %></small> </td>
                                            <td><small><%= row.total_result %></small> </td>
                                            <td><small><%= row.grade_in_latter %></small> </td>
                                            <td> <small><%= row.grade_in_point %></small></td>
                                         <td>
                                          <% if(row.is_confirm_department == "Yes") {%>
                                           <small> Grade Report Sent To Registrar</small>
                                            <% } else{%>
                                           <form action="/department/grade/reportproblemtoteacher/<%= row.trainee_id %>" method="post">
                                          <div class="form-group">
                                              
                                             <input type="hidden" name="courseid" value="<%= courseid %>">
                                             <input type="hidden" name="programtag" value="<%= programtag %>">
                                             <input type="hidden" name="deptid" value="<%= deptid %>">
                                             <input type="hidden" name="batchid" value="<%= batchid %>">
                                             <input type="hidden" name="classid" value="<%= classid %>">
                                             <input type="hidden" name="teacherid" value="<%= row.teacher_id %>"
                                            
                                          </div>
                                        
                                             <button type="submit" class="btn btn-block btn-outline-primary btn-xs">Report Problem To Teacher</button>
                                          
                                           </form>
                                          <%}%>
                                          </td>
                                        </tr>
                                     <%  })} else{}     %>
                                 
                            </tbody>
                          </table>
                        </div>
                      
                      </div>
                    </div>
                  </div>
               
              
                </div>
              </div>
            </div>
        
           
       
                

                   
				</div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send Evaluation To Registrar  </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">Trainee Grade Report</h4>
                      </div>
                    <div class="card-body">
                      <div class="alert  alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <blockquote>
                          <% if(classinfo.length >0) {%>
                            <% classinfo.forEach(function (row){ %>
                              
                                <small>Batch Name :<%= row.batch_name %><br>
                                Department Name: <%= row.department_name %><br>
                                Occupation Name: <%= row.occupation_name %><br>
                                Class Name: <%= row.class_name %></small><br>
                           <% })}else {}%>    
                                <small>Course Name:<%= coourseinfo.course_name %></small> 
                        
                        </blockquote>
                      </div>
                      <div class="alert  alert-dismissible fade show" role="alert" style="display: none;" id="servermsg">
                          <p id="msg"></p>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                           </button>
                         </div>
                     <div class="form-group">
                      <input type="hidden" name="courseid" id="courseid" value="<%= courseid %>">
                      <input type="hidden" name="programtag" id="programtag" value="<%= programtag %>">
                      <input type="hidden" name="deptid" id="deptid" value="<%= deptid %>">
                      <input type="hidden" name="batchid" id="batchid" value="<%= batchid %>">
                      <input type="hidden" name="classid" id="classid" value="<%= classid %>">  
                  
                      </div>
                      <p></p>
                      <fieldset id="studentlist">
                        <div class="table-responsive">
                          <table class="table table-sm table-responsive" id="tablesend">
                            <thead>
                              <tr>
                                <td></td>
                                <td></td>
                                <th><small>#</small></th>
                                
                                <th><small>Student ID </small>  </th>
                                <th><small>Student Name</small> </th>
                                <th> <small>Gender</small>  </th>
                                                           
                                <th> <small>Grade In Letter</small>  </th>
                                <th> <small>Grade In Point</small> </th>
                             
                              </tr>
                            </thead>
                            <tbody>
                
                              <% if(marklist.length >0 ) { %>
                                  <% var i = 0 ;%>
                                     <% marklist.forEach(function (row){ %>
                                      <% i++ %>
                                      <% var name = JSON.parse(JSON.stringify(row.personal_info)) %>
                                      <% console.log(name) %>
                                      <% if(row.is_confirm_department == "No") {%>
                                        <tr>
                                          <td><div style="display: none;">
                                            <%= row.trainee_id %>
                                          </div></td>
                                          <td>
                                            <button class="btn btn-xs btn-danger" onclick="removeRow(this)">x</button>
                                          </td>
                                            
                                            <td><small><%= i %></small></td>
                                            
                                            <td ><small><%= row.student_unique_id %></small></td>
                                            <td><small><%= name.firstname  %>&nbsp;<%= name.middlename  %></small></td>
                                            
                                            <td><%var gen =  name.gender %><small><%= gen=="m"?"Male":"Female" %></small></td>
                                          
                                           
                                            <td><small><%= row.grade_in_latter %></small> </td>
                                            <td> <small><%= row.grade_in_point %></small></td>
                                        
                                        </tr>
                                        <% }%>
                                     
                                   <%  })} else{}     %>
                               
                          </tbody>
                          </table>
                        </div>
                        <div class="row">
                          <div class="col-md-6 offset-md-3  mt-2">
                            <button type="button" onclick=" convertArrayToJSON();" class="btn btn-block btn-sm form-control btn-primary">Submit</button>
                          </div>
                        </div>
                      </fieldset>
                     
                    
                    </div>
                  </div>
                </div>
             
              </div>
             
            </div>
          </div>
        </div>
          </div>
    
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <script>
          
    function storeTblValues()
    {
        var TableData = new Array();
       
        $('#tablesend tr').each(function (row, tr) {
         
          var currentRow=$(this);
          var col =currentRow.find("td:eq(1)").text();
if(!col.length )
{

}
else{
var col1_value= currentRow.find("td:eq(0)").text();
var col2_value=document.getElementById('deptid').value;
var col3_value=document.getElementById('courseid').value;
var col4_value=document.getElementById('batchid').value;
var col5_value=document.getElementById('classid').value;



var obj={};

obj.batch_id=col4_value.trim();
obj.department_id=col2_value.trim();
obj.class_id=col5_value.trim();
obj.student_id=col1_value.trim();
obj.course_id=col3_value.trim();
obj.is_confirm_department="Yes";



TableData.push(obj);

console.log(obj);
}


        });
      // first row will be empty - so remove
       return TableData;
    }

    function convertArrayToJSON()
    {
        var TableData;
       // TableData = $.toJSON(storeTblValues());
       TableData =  JSON.stringify(storeTblValues());
      //  $('#tbConvertToJSON').html('<br>JSON array: <br>' + TableData.replace(/},/g, "},<br>"));


$.ajax({
            type: "POST",
            url: "/department/grade/confirmsingleclasscoursegradereporttoregistrar",
            data: "pTableData=" + TableData,    // post TableData to server script

            success: function (data) {
      
              if(data.message == 'success'){ // if true (1)

                var x = document.getElementById("servermsg");
var msg = document.getElementById("msg");

x.style.display = "block";
x.className="alert alert-success alert-dismissible fade show";
msg.innerHTML="You are successfully sent trainee grade data to registrar!";
setTimeout(function(){// wait for 5 secs(2)
location.reload(); // then reload the page.(3)
}, 1000); 
}
else{

    var x = document.getElementById("servermsg");
var msg = document.getElementById("msg");
x.style.display = "block";
x.className="alert alert-danger alert-dismissible fade show";
msg.innerHTML="Something is wrong please try later!"
setTimeout(function(){// wait for 5 secs(2)
location.reload(); // then reload the page.(3)
}, 1000); 
}
            }
        });
   
      }


</script>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
      <!-- Brand Logo -->
      <%- include('./partials/footer') %> 
</footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../../../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../../../plugins/jszip/jszip.min.js"></script>
<script src="../../../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../../../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="../../../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../../../dist/js/demo.js"></script>
<script>
  let removeRow = (oButton) => {
     let empTab = document.getElementById('tablesend');
     empTab.deleteRow(oButton.parentNode.parentNode.rowIndex); // buttton -> td -> tr
 }
</script>
<!-- Page specific script -->
<script>
  var test = '<%- JSON.stringify(classinfo) %>'; 
var data = JSON.parse(test)
var test2 = '<%- JSON.stringify(coourseinfo) %>'; 
var coursename = JSON.parse(test2)
var  batchname,departmentname,occupationname,classname ;
data.forEach(item =>{
 batchname = item.batch_name;
 departmentname = item.department_name;
 occupationname = item.occupation_name;

});

$(function () {
  $("#example1").DataTable({
    "responsive": false, "lengthChange": true, "autoWidth": true,"width":400,
    "buttons": ["copy", "csv", "excel", "pdf",  {
              extend: 'print',
              customize: function ( win ) {
                  $(win.document.body)
                      .css( 'font-size', '10pt' )
                      .prepend(
                          '<img src="" style="position:absolute; top:0; left:0;" />'
                          
                          );

                  $(win.document.body).find( 'table' )
                      .addClass( 'compact' )
                      .css( 'font-size', 'inherit' );
              },
              title: function() {
  return  "  <table> <tr style='  border-collapse: collapse;'><td><img src='../../../dist/img/logoselam.jpg' width='150px' height='150px'></td>"+
 " <td > <h4> Selam David Roeschli Technical And Vocational College  </h4> <h6><small><br> "+batchname+"<br> "+departmentname+"<br> "+occupationname+"<br> "+coursename.course_name +" </small><br> Trainee Grade Report</h6> </td> </tr> </table>"
            
} ,

              
              exportOptions: {
                  columns: ':visible'
              }
          }, "colvis"],
          columnDefs: [ {
          targets: -1,
          visible: true
      }]
  }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
});
</script>
</body>
</html>
