
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../../../plugins/fontawesome-free/css/all.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="../../../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../../../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="../../../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/department/dashboard" class="nav-link">Home</a>
      </li>
   
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
   

      <!-- Messages Dropdown Menu -->
     
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">0</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/department/logout" >
          Logout
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar  elevation-4">
    <!-- Brand Logo -->
         <!-- Brand Logo -->
         <%- include('./partials/sidebar') %>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Dashboard</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Student Progress List</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h4 class="card-title">Student Progress List</h4>
                        </div>
                      <div class="card-body">
                        <%- include ('./partials/messages') %>
                        <div class="alert  alert-dismissible fade show" role="alert" style="display: none;" id="servermsg">
                           <p id="msg"></p>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                      <br>
                      <div class="row">
                     
                      
                        <div class="row" style="display: none;">
                            <div class="col-sm-12 col-md-6">
                                <div class="dt-buttons btn-group flex-wrap">               
                            <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>Copy</span></button> 
                            <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>CSV</span></button> 
                            <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>Excel</span></button> 
                            <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>PDF</span></button>
                             <button class="btn btn-secondary buttons-print" tabindex="0" aria-controls="example1" type="button"><span>Print</span></button> <div class="btn-group">
                                 <button class="btn btn-secondary buttons-collection dropdown-toggle buttons-colvis" tabindex="0" aria-controls="example1" type="button" aria-haspopup="true" aria-expanded="false"><span>Column visibility</span></button></div> </div></div>
                                 
                                 <div class="col-sm-12 col-md-6"><div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label></div></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card card-primary shadow-lg">
                                      <div class="card-header">
                                        <h3 class="card-title"></h3>
                        
                                        <div class="card-tools">
                                          <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                                          </button>
                                        </div>
                                        <!-- /.card-tools -->
                                      </div>
                                      <!-- /.card-header -->
                                      <div class="card-body">
                                       
                                        <div class="col-md-12  grid-margin stretch-card">    
                                            <div class="">
               
                                         <div class="">
                                          
                                           <div class="table-responsive" >
                                               <table aria-describedby="example1_info" role="grid" class="table table-bordered table-striped dataTable dtr-inline" id="example1">
                                                 <thead>
                                                   <tr>
                                   <th>#</th>
                                   <th>Student ID</th>
                                                     <th>Full Name</th>
                                                 
                                                     <th>UOCs Name</th>
               
                                                     <th> Theoretical Evaluation</th>
                                                     <th> Practical Evaluation</th>
                                                     <th> Internship Evaluation</th>
                                                    
                                                   </tr>
                                                 </thead>
                                                 <tbody>
                                 
                                                    
                                                 
                                                  <% if(levelbased.length >0 ) { %>
                                                   <% var y = 0 ;%>
                                                      <% levelbased.forEach(function (row){ %>
                                                       <% y++ %>
                                                       <% var one, two,three; %>
                                                       <% var name = JSON.parse(JSON.stringify(row.personal_info)); %>
                                                       <% var contact = JSON.parse(JSON.stringify(row.contact_info)); %>
                                                       <% var fullname = name.firstname +" "+name.middlename +" "+name.lastname %>
                                                       <% var contactself = name.firstname +"/ "+contact.phoneNumber_1  %>
                                                       <% var contactemergency = contact.emergencyname +"/ "+contact.emergencyphone  %>
                                                       <tr>
                                                           <td><%= y %></td>
                                                           <td><%= row.student_unique_id %></td>
                                                           <td ><%= fullname %></td>
                                                         
                                                           
                                                           <td><% var course = row.course_id %>
                                                           
                                                               <% if(courselist.length >0) {%>
                                                                   <% courselist.forEach(function (row){ %>
                                                                       <% var coursename = row.course_id %>
                                                                
                                                                   <%= row.course_name %>
                                                                  <% })}else {}%>
                                                           
                                                           
                                                           </td>
                                                        
                                                              
                                                               <%
                                                               var theory = 0;
                                                               var practice =  0;
                                                               var intern =  0;
                                                               
                                                               var te= [];
                                                              var x =[];
                                                              var z= [];
                                                              var objs = JSON.parse(JSON.stringify(row.theroretical_evaluation));
                                                              te.push(objs);
                                                              te.forEach(obj => {
                                                                Object.entries(obj).forEach(([key, value]) => {
                                                                   var key  = key;
                                                                   var value =value;
                                                                   x.push(key);
                                                                   z.push(value);
                                                                   theory += parseFloat(value);
                                                                });
                                                              
                                                            });%>
                                                            <%
                                                            var pe= [];
                                                           var xp =[];
                                                           var zp = [];
                                                           var objsp = JSON.parse(JSON.stringify(row.practical_evaluation));
                                                           pe.push(objsp);
                                                           pe.forEach(obj => {
                                                             Object.entries(obj).forEach(([key, value]) => {
                                                                var key  = key;
                                                                var value =value;
                                                                xp.push(key);
                                                                zp.push(value);
                                                                practice += parseFloat(value);
                                                             });
                                                           
                                                         });%>
                                                         <%
                                                         var ie= [];
                                                        var xi =[];
                                                        var zi = [];
                                                        var objsi =row.industry_evaluation;
                                                        if(typeof objsi === 'object' && objsi !== null)
                                                        {
                                                            objsi = JSON.parse(JSON.stringify(row.industry_evaluation));
                                                        }
                                                        else{
                                                            objsi = "";
                                                        }
                                                       
                                                        ie.push(objsi);
                                                        ie.forEach(obj => {
                                                          Object.entries(obj).forEach(([key, value]) => {
                                                             var key  = key;
                                                             var value =value;
                                                             xi.push(key);
                                                             zi.push(value);
                                                             intern += parseFloat(value);
                                                          });
                                                        
                                                      });%>
                                                      
                                                          
                                                           <td>
                                                            <% for(var i= 0 ; i < x.length ; i++ ) { %>
                                                                <% var mrk =  z[i].toFixed(2)  %>
                                                                <% var lo =  x[i] %>
                                                                <% var mrkp =  mrk+"%" %>
                                                                <% if( mrk < 18 ){ %>
                                                                    <div class="progress progress-xs">
                                                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="<%= z[i] %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= mrkp %>">
                                                                       </div>
                                                                      </div>
                                                                      <p><%= lo%>:<code><%= mrkp %></code></p>
                                                                      
                                                               <% }else if(mrk >= 18 && mrk < 100){ %>
                                                                <div class="progress progress-xs">
                                                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="<%= z[i] %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= mrkp %>">
                                                                     </div>
                                                                  </div>
                                                                  <p><%= lo%>:<code><%=mrkp %></code></p>
                                                                  
                                                               <% }else{} %>
                                                            
                                                                <% } %>
                                                          
                                                                <p>Average Point:<code><% var te= theory/x.length %> <%= te.toFixed(2) %></code></p>
                                                           </td>
                                                         
                                                           <td>
                                                            <% for(var i= 0 ; i < xp.length ; i++ ) { %>
                                                                <% var mrk =  zp[i].toFixed(2)  %>
                                                                <% var mrkp =  mrk+"%" %>
                                                                <% var lop = xp[i] %>
                                                                <% if( mrk < 32 ){ %>
                                                                    <div class="progress progress-xs">
                                                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="<%= zp[i] %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= mrkp %>">
                                                                        </div>
                                                                      </div>
                                                                      <p><%= lop %>:<code><%= mrkp %></code></p>
                                                                      
                                                               <% }else if(mrk >= 32 && mrk < 100){ %>
                                                                <div class="progress progress-xs">
                                                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="<%= zp[i] %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= mrkp %>">
                                                                    </div>
                                                                  </div>
                                                                  <p><%= lop %>:<code><%=mrkp %></code></p>
                                                                  
                                                               <% }else{} %>
                                                            
                                                                <% } %>
                                                                <p>Average Point:<code><% var pe= practice/xp.length %>  <%= pe.toFixed(2) %></code></p>
                                                           </td>
                                                          
                                                           <td>
                                                            <% for(var i= 0 ; i < xi.length ; i++ ) { %>
                                                                <% var mrk =  zi[i].toFixed(2)  %>
                                                                <% var loi = xi[i] %>
                                                                <% var mrkp =  mrk+"%" %>
                                                                <% if( mrk < 24 ){ %>
                                                                    <div class="progress progress-xs">
                                                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="<%= zi[i] %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= mrkp %>">
                                                                         </div>
                                                                      </div>
                                                                      <p><%= loi %>:<code><%= mrkp %></code></p>
                                                                      
                                                               <% }else if(mrk >= 24 && mrk < 100){ %>
                                                                <div class="progress progress-xs">
                                                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="<%= zi[i] %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= mrkp %>">
                                                                   </div>
                                                                  </div>
                                                                  <p><%= loi %>:<code><%=mrkp %></code></p>
                                                                  
                                                               <% }else{} %>
                                                            
                                                                <% } %>
                                                                <p>Average Point:<code><% var ie= intern/xi.length %> <%= ie.toFixed(2) %></code></p>
                                                           </td>
                                                         
                                                        
               
                                                       
                                                         </tr>
                                                    <%  })} else{}     %>
                                                   
                                               
                                   
                                                      
                                                  
                                                 
                                                 </tbody>
                                               </table>
                                             </div>
                                         
                                         </div>
                                       </div>
                                     </div> 
                                      </div>
                                      <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                  </div>
                      
                   
                  
                    </div>
                        
                
                        </div>
                      </div>
                    </div>
                
                   
               
                        
        
                           
                        </div>
              </div>
          
          </div>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Send Evaluation To Department  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Student List</h4>
                        </div>
                      <div class="card-body">
                       
                        <p class="card-description">
                          </p><div class="form-group">
                            <label>Please Select Course Name First</label>
                            <select class="form-control" id="coursename" name="coursename">
                              <option value="0">Please select course name</option>
                              <% if(courselist.length >0) {%>
                                <% courselist.forEach(function (row){ %>
                                  <option value="<%= row.course_id %>"><%= row.course_name %></option>
                               <% })}else {}%>
                            </select>
                            <input type="hidden" id="classid" name="classid" value="<%= classid %>">
                            <input type="hidden" id="level" name="level" value="<%= level %>">
                            <input type="hidden" id="programtype" name="programtype" value="<%= programtype %>">
                            <input type="hidden" id="dpt" name="dpt" value="<%= dpt %>">
                            <input type="hidden" id="batchid" name="batchid" value="<%= batchid %>">
                           
                        </div>
                        <p></p>
                        <fieldset id="studentlist">
                          <div class="table-responsive">
                            <table class="table  table-responsive">
                              <thead>
                                <tr>
                             
                                  <th> # </th>
                                  <th> Trainee ID </th>
                                  <th> Full Name </th>
                                  <th> Theoretical Evaluation</th>
                                  <th> Practical Evaluation</th>
                                  <th> Internship Evaluation</th>
                                  <th> Total Evaluation</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% if(levelbased.length >0 ) { %>
                                    <% var i = 0 ;%>
                                       <% levelbased.forEach(function (row){ %>
                                      <% i++ %>
                                        <tr>
                                    
                                            <% var name = JSON.parse(JSON.stringify(row.personal_info)); %>
                                            <% var fullname = name.firstname +" "+name.middlename +" "+name.lastname %>
                                         
                                            <td><%= i %></td>
                                            <td><%= row.student_unique_id %></td>
                                            <td><%= fullname %></td>
                                            <%var theory =  parseFloat(row.theroretical_evaluation) %>
                                                               <%var practice =  parseFloat(row.practical_evaluation) %>
                                                               <%var intern =  parseFloat(row.field_evaluation) %>
                                                               <% 
                                                               if(!isNaN(practice)){
                                                                 practice = practice
                                                               }
                                                               else{
                                                                 practice =0;
                                                               }
                                                               if(!isNaN(theory)){
                                                                   theory =theory
                                                                 }
                                                                 else{
                                                                   theory =0;
                                                                 }
                                                                 if(!isNaN(intern)){
                                                                   intern =intern
                                                                 }
                                                                 else{
                                                                   intern =0;
                                                                 }
                                                               
                                                               %>
                                                       
                                                           <td>
                                                               <%= theory %>
                                                            
                                                           </td>
                                                         
                                                           <td>
                                                               <%= practice %>
                                                           </td>
                                                          
                                                           <td>
                                                             <%= intern %>
                                                           </td>
                                                           <td>
                                                             
                                                               <% var total = theory + practice + intern ;%>
                                                               <%= total %>
                                                             </td>
                                          </tr>

                                        <% })}else{} %>
                                  
                                  
                              </tbody>
                            </table>
                          </div>
                          <div class="row">
                            <div class="col-md-6 offset-md-3  mt-2">
                              <button type="submit" id="addevaluation" class="btn btn-block btn-sm form-control btn-primary">Submit</button>
                            </div>
                          </div>
                        </fieldset>
                       
                      
                      </div>
                    </div>
                  </div>
               
                </div>
               
              </div>
            </div>
          </div>
         
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <script>
     
    $(function(){
$(document).on('click', '#addevaluation', function(){

var senddt = [];
var coursename = document.getElementById('coursename').value;
var classid = document.getElementById('classid').value;
var level = document.getElementById('level').value;
var programtype = document.getElementById('programtype').value;
var batch = document.getElementById('batchid').value;
var dpt = document.getElementById('dpt').value;
if(coursename == "0" )
{

    var x = document.getElementById("servermsg");
var msg = document.getElementById("msg");
x.style.display = "block";
x.className="alert alert-danger alert-dismissible fade show";
msg.innerHTML="Please select couse name first!"
}

var tblobj = {};

tblobj['courseid'] = coursename;
tblobj['classid'] = classid;

tblobj['level'] = level ;
tblobj['programtype'] = programtype;
tblobj['batchid'] = batch ;
tblobj['department'] = dpt;



    senddt.push(tblobj) 


var tobesaveddt = JSON.stringify(senddt) 
console.log(JSON.stringify(senddt) );

convertArrayToJSON(tobesaveddt);



});


});

function convertArrayToJSON(tobesaveddt)
{
var TableData;
// TableData = $.toJSON(storeTblValues());
TableData =  tobesaveddt ;
//  $('#tbConvertToJSON').html('<br>JSON array: <br>' + TableData.replace(/},/g, "},<br>"));


$.ajax({
type: "POST",
url: "/evaluation/updatestatussenttodepartment",
data: "pTableData=" + TableData,    // post TableData to server script

success: function (data) {
var x = document.getElementById("servermsg");
var msg = document.getElementById("msg");

if(data.message == 'success'){ // if true (1)


x.style.display = "block";
x.className="alert alert-success alert-dismissible fade show";
msg.innerHTML="You are successfully sent student evaluation data to department!";
setTimeout(function(){// wait for 5 secs(2)
location.reload(); // then reload the page.(3)
}, 1000); 
}
else if(data.message == 'error'){

x.style.display = "block";
x.className="alert alert-danger alert-dismissible fade show";
msg.innerHTML="Error while sending student evaluation data try again!"
setTimeout(function(){// wait for 5 secs(2)
location.reload(); // then reload the page.(3)
}, 1000); 
}
}
});

}
function formObj2Json(formArray) { //serialize data function
var returnArray = {};
for (var i = 0, len = formArray.length; i < len; i++)
returnArray[formArray[i].name] = formArray[i].value;
return returnArray;
}
</script>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
      <!-- Brand Logo -->
      <%- include('./partials/footer') %> 
</footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../../../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../../../plugins/jszip/jszip.min.js"></script>
<script src="../../../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../../../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": true, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
</body>
</html>
