<html lang="en" style="height: auto;"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../../dist/css/adminlte.min.css">
  <style type="text/css">/* Chart.js */
  @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style></head>
  <!--
  `body` tag options:
  
    Apply one or more of the following classes to to the body tag
    to get the desired effect
  
    * sidebar-collapse
    * sidebar-mini
  -->
  <body class="sidebar-mini sidebar-closed sidebar-collapse" style="height: auto;">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('./partials/top') %>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar  elevation-4">
      <!-- Brand Logo -->
      <%- include('./partials/sidebar') %>
      <!-- /.sidebar -->
    </aside>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 2128.12px;">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">All Data Encoder</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
           
              <div class="row">
                <div class="col-sm-12 grid-margin stretch-card">
                  <div class="card card-primary">
                      <div class="card-header">
                        <h4 class="card-title">Data Encoder List </h4>
                    
                      </div>
                    <div class="card-body">
                        <%- include ('./partials/messages') %>
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                                <th>#</th>
                              <th>User Name</th>
                              <th>User Roll</th>
                              <th>Is Active?</th>
                              <th>Action To Do</th>
                            </tr>
                          </thead>
                          <tbody>
                            
                            <% if (userlist.length >0){ %>
                           <% var status; var i = 0; %>
                              <% userlist.forEach(function(row){ %>
                                <% i++ %>
                          <%  status = row.isactive ; %>
                                <tr>
                                    <td><%= i %></td>
                                  <td style="text-transform: uppercase;"><%= row.username %></td>
                                  <td style="text-transform: uppercase;"><%= row.userroll %></td>
                                  <td style="text-transform: uppercase;"><%= row.isactive %></td>
                               
                                  <td>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <% if(status == "Yes") { %>
                                          <form  action="/jbs/diactivatesystemuser/<%= row.userid %>" method="post">
                                            <button type="type" class="btn btn-outline-warning btn-icon-text">
                                              <i class="mdi mdi-key-remove"></i>                                                        
                                                  Diactivate User
                                                </button>
                                          </form>
                                     <%   } else { %>
                                          <form  action="/jbs/activatesystemuser/<%= row.userid %>" method="post">
                                            <button type="type" class="btn btn-outline-warning btn-icon-text">
                                              <i class="mdi mdi-key-remove"></i>                                                        
                                                  Activate User
                                                </button>
                                          </form>
                                       <% } %>
                                       
                                      </div>
                                
                                      
                                    </div>
                                  </td>
                                </tr>
                              
                             <% })} else { %>
                  
                          <%  } %>
                         
                          
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
  <!-- /.control-sidebar -->
  
    <!-- Main Footer -->
    <footer class="main-footer">
        <%- include ('./partials/footer') %>
    </footer>
 
  <!-- ./wrapper -->
  
  <!-- REQUIRED SCRIPTS -->
  
  <!-- jQuery -->
  <script src="../../../plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="../../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE -->
  <script src="../../../dist/js/adminlte.js"></script>
  
  <!-- OPTIONAL SCRIPTS -->
  <script src="../../../plugins/chart.js/Chart.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../../../dist/js/demo.js"></script>
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  <script src="../../../dist/js/pages/dashboard3.js"></script>
  <script src="../../plugins/toastr/toastr.min.js"></script>
  <script>
    $(function () {
      $("#example1").DataTable({
        "responsive": false, "lengthChange": true, "autoWidth": true,"width":400,
        "buttons": ["copy", "csv", "excel", "pdf",  {
                  extend: 'print',
                  customize: function ( win ) {
                      $(win.document.body)
                          .css( 'font-size', '10pt' )
                          .prepend(
                              '<img src="" style="position:absolute; top:0; left:0;" />'
                              
                              );
   
                      $(win.document.body).find( 'table' )
                          .addClass( 'compact' )
                          .css( 'font-size', 'inherit' );
                  },
                  title: function() {
      return  "  <table> <tr style='  border-collapse: collapse;'><td><img src='../../../dist/img/logoselam.jpg' width='150px' height='150px'></td>"+
     " <td > <h4>  Organization Name <br> Selam David Roeschli Technical And Vocational College <br>  JBS Data Encoder List On JBS</h4> </td> </tr> </table>"
                
    } ,
  
                  
                  exportOptions: {
                      columns: ':visible'
                  }
              }, "colvis"],
              columnDefs: [ {
              targets: -1,
              visible: true
          }]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
  </script>
  
  </body></html>