<html lang="en" style="height: auto;"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SELAM_TVC</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- IonIcons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../../dist/css/adminlte.min.css">
<style type="text/css">/* Chart.js */
@keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style></head>
<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->
<body class="sidebar-mini sidebar-closed sidebar-collapse" style="height: auto;">
<div class="wrapper">
  <!-- Navbar -->
  <%- include('./partials/top') %>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar  elevation-4">
    <!-- Brand Logo -->
    <%- include('./partials/sidebar') %>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 2128.12px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">OutCome In Number Report</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card card-primary">
          <div class="card-header">
            <h4 class="card-title">Outcome In Number Report</h4>
          </div>
          <div class="card-body">
            <div class="row" style="display: none;">
              <div class="col-sm-12 col-md-6">
                  <div class="dt-buttons btn-group flex-wrap">               
              <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>Copy</span></button> 
              <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>CSV</span></button> 
              <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>Excel</span></button> 
              <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>PDF</span></button>
               <button class="btn btn-secondary buttons-print" tabindex="0" aria-controls="example1" type="button"><span>Print</span></button> <div class="btn-group">
                   <button class="btn btn-secondary buttons-collection dropdown-toggle buttons-colvis" tabindex="0" aria-controls="example1" type="button" aria-haspopup="true" aria-expanded="false"><span>Column visibility</span></button></div> </div></div>
                   
                   <div class="col-sm-12 col-md-6"><div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label></div></div>
                  </div>
            <div class="table-responsive" id="costtable">
              <table aria-describedby="example1_info" role="grid" class="table table-bordered table-striped dataTable dtr-inline" id="example1">
              
                <thead>
                  <tr>
                    <th>
                      #
                    </th>
                    <th>
                     Outcome Category
                    </th>
                    <th>
                     Sex
                     </th>
                    <th>
                      Total Number
                    </th>
                    <th>
                      Percentage
                    </th>
                    <th>
                      Progress
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% if (graduated.length >0){ %>
                            
                    <% graduated.forEach(function(row){ %>
                
                      <tr>
                        <td class="py-1">
                          1
                        </td>
                        <td>
                          Graduated
                        </td>
                        <td>
                         <label style="text-transform: capitalize;">
                          <%= row.sex %>
                        </label> 
                         
                        </td>
                        <td>
                          <%= row.gradno %>
                         
                        </td>
                        <td>
                          <% var percent; %>
                          <% var Total; %>
                          <% var gradno = parseInt(row.gradno); %>
                        
                          
                        <%  percent = ((gradno/counttotal )* 100).toFixed(2); %>
                        <%= percent %>
                          
                        </td>
                        <td>
                          <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: <%= percent %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div> 
                        </td>
                      </tr>
                      <% })} else { %>
        
                <%  } %>
                <% if (continuedstudy.length >0){ %>
                            
                  <% continuedstudy.forEach(function(row){ %>
              
                    <tr>
                      <td class="py-1">
                        2
                      </td>
                      <td>
                        Continued Study
                      </td>
                      <td>
                        <%= row.sex %>
                       
                      </td>
                      <td>
                        <%= row.studyno %>
                       
                      </td>
                      <td>
                        <% var percent; %>
                        <% var Total; %>
                        <% var gradno = parseInt(row.studyno); %>
                      
                        
                      <%  percent = ((gradno/counttotal )* 100).toFixed(2); %>
                      <%= percent %>
                        
                      </td>
                      <td>
                        <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: <%= percent %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> 
                      </td>
                    </tr>
                    <% })} else { %>
      
              <%  } %>
               
             
            <% if (employedself.length >0){ %>
                            
              <% employedself.forEach(function(row){ %>
          
                <tr>
                  <td class="py-1">
                    3
                  </td>
                  <td>
                 Self Employeed
                  </td>
                  <td>
                    <%= row.sex %>
                   
                  </td>
                  <td>
                    <%= row.selfno %>
                   
                  </td>
                  <td>
                    <% var percent; %>
                    <% var Total; %>
                    <% var gradno = parseInt(row.selfno); %>
                  
                    
                  <%  percent = ((gradno/counttotal )* 100).toFixed(2); %>
                  <%= percent %>
                    
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" style="width: <%= percent %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> 
                  </td>
                </tr>
                <% })} else { %>
  
          <%  } %>

          <% if (employedsixmonths.length >0){ %>
                            
            <% employedsixmonths.forEach(function(row){ %>
        
              <tr>
                <td class="py-1">
                  4
                </td>
                <td>
                  Employed In Six Months
                </td>
                <td>
                  <%= row.sex %>
                 
                </td>
                <td>
                  <%= row.empno %>
                 
                </td>
                <td>
                  <% var percent; %>
                          <% var Total; %>
                          <% var gradno = parseInt(row.empno); %>
                        
                          
                        <%  percent = ((gradno/counttotal )* 100).toFixed(2); %>
                        <%= percent %>
                  
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: <%= percent %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div> 
                </td>
              </tr>
              <% })} else { %>

        <%  } %>
        <% if (employedinfl.length >0){ %>
                            
          <% employedinfl.forEach(function(row){ %>
      
            <tr>
              <td class="py-1">
                5
              </td>
              <td>
                Employed In Fair Labor Conditions
              </td>
              <td>
                <%= row.sex %>
               
              </td>
              <td>
                <%= row.fino %>
               
              </td>
              <td>
                <% var percent; %>
                <% var Total; %>
                <% var gradno = parseInt(row.fino); %>
              
                
              <%  percent = ((gradno/counttotal )* 100).toFixed(2); %>
              <%= percent %>
                
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: <%= percent %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div> 
              </td>
            </tr>
            <% })} else { %>

      <%  } %>
         
      <% if (placedinapp.length >0){ %>
                            
        <% placedinapp.forEach(function(row){ %>
    
          <tr>
            <td class="py-1">
              6
            </td>
            <td>
              Placed In Apprenticeship/OJT
            </td>
            <td>
            <label style="text-transform: uppercase;"> 
              <%= row.sex %>
            </label> 
             
            </td>
            <td>
              <%= row.appno %>
             
            </td>
            <td>
              <% var percent; %>
              <% var Total; %>
              <% var gradno = parseInt(row.appno); %>
            
              
            <%  percent = ((gradno/counttotal )* 100).toFixed(2); %>
            <%= percent %>
              
            </td>
            <td>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: <%= percent %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div> 
            </td>
          </tr>
          <% })} else { %>

    <%  } %>
       
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
<!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
      <%- include ('./partials/footer') %>
  </footer>
	
   
  <script src="../../plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- DataTables  & Plugins -->
  <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="../../plugins/jszip/jszip.min.js"></script>
  <script src="../../plugins/pdfmake/pdfmake.min.js"></script>
  <script src="../../plugins/pdfmake/vfs_fonts.js"></script>
  <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
  <!-- AdminLTE App -->
  <script src="../../dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../../dist/js/demo.js"></script>
  <script>
    $(function () {
      $("#example1").DataTable({
        "responsive": false, "lengthChange": true, "autoWidth": true,"width":400,
        "buttons": ["copy", "csv", "excel", "pdf",  {
                  extend: 'print',
                  customize: function ( win ) {
                      $(win.document.body)
                          .css( 'font-size', '10pt' )
                          .prepend(
                              '<img src="" style="position:absolute; top:0; left:0;" />'
                              
                              );
   
                      $(win.document.body).find( 'table' )
                          .addClass( 'compact' )
                          .css( 'font-size', 'inherit' );
                  },
                  title: function() {
      return  "  <table> <tr style='  border-collapse: collapse;'><td><img src='../../../dist/img/logoselam.jpg' width='150px' height='150px'></td>"+
     " <td > <h4>  Organization Name <br> Selam David Roeschli Technical And Vocational College <br>  Outcome Data On JBS</h4> </td> </tr> </table>"
                
    } ,
  
                  
                  exportOptions: {
                      columns: ':visible'
                  }
              }, "colvis"],
              columnDefs: [ {
              targets: -1,
              visible: true
          }]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
  </script>

</body></html>