<html lang="en" style="height: auto;"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SELAM_TVC</title>
  
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="../../../plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../../dist/css/adminlte.min.css">
  <style type="text/css">/* Chart.js */
  @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style></head>
  <!--
  `body` tag options:
  
    Apply one or more of the following classes to to the body tag
    to get the desired effect
  
    * sidebar-collapse
    * sidebar-mini
  -->
  <body class="sidebar-mini sidebar-closed sidebar-collapse" style="height: auto;">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('./partials/top') %>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar  elevation-4">
      <!-- Brand Logo -->
      <%- include('./partials/sidebar') %>
      <!-- /.sidebar -->
    </aside>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 2128.12px;">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                <li class="breadcrumb-item">Dashboard</li>
                <li class="breadcrumb-item active">Add New Unit Of Competency</li>
           
            </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Add New Unit Of Competency</h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                 <div class="card-body">
                  <div class="row">
                    <div class="col-5 col-sm-3">
                      <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-home" role="tab" aria-controls="vert-tabs-home" aria-selected="false">Level Based</a>
                        <a class="nav-link" id="vert-tabs-profile-tab" data-toggle="pill" href="#vert-tabs-profile" role="tab" aria-controls="vert-tabs-profile" aria-selected="false">Short Term /Project/ Based</a>
                        <a class="nav-link " id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-messages" role="tab" aria-controls="vert-tabs-messages" aria-selected="true">Industry Based</a>
                     </div>
                    </div>
                    <div class="col-7 col-sm-9">
                      <div class="tab-content" id="vert-tabs-tabContent">
                        <div class="tab-pane  fade active show" id="vert-tabs-home" role="tabpanel" aria-labelledby="vert-tabs-home-tab">
                          <%- include ('./partials/messages') %>
                          <form class="forms-sample" action="/admin/course/addnewcourse" method="post">
                          
                            <div class="form-group">
                              <label for="exampleInputUsername1">Select Occupation</label>
                        
                              <select class="form-control-sm js-example-basic-single " style="width:100%" id="occupationname" name="occupationname" >
                                  <option value="0">Select Occupation Name</option>
                                  <% if(department.length >0){ %>
                                    <% department.forEach(function (row){ %>
                                     <option value="<%= row.occupation_id %>"><%= row.occupation_name %></option>
                                     <%   })} else{} %>
                              </select>
                            </div>
                           
                                  <div class="form-group">
                                    <label for="exampleInputUsername1">Select Level</label>
                               
                                    <select class="form-control" name="traininglevel" id="traininglevel">
                                      <option value="0">Please Select Training Level</option>
                                      <option>Level_1</option>
                                      <option>Level_2</option>
                                      <option>Level_3</option>
                                      <option>Level_4</option>
                                      <option>Level_5</option>
                                  </select>
                                </div>
                              
                               
                              <div class="form-group">
                                <label for="exampleInputUsername1">Unit Of Competency Name</label>
                                <input type="text" autocomplete="off"  class="form-control" id="coursename" name="coursename" placeholder="Enter UOC Name">
                             
                              </div>
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label for="exampleInputUsername1">Module Code</label>
                                    <input type="text" class="form-control"  
autocomplete="off"  id="coursecode" name="coursecode" placeholder="Enter Module Code">
                                 
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label for="exampleInputUsername1">Training Hours</label>
                                    <input type="text" class="form-control" autocomplete="off" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
  id="traininghours" name="traininghours" placeholder="Enter Training Hours">
                                 
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label for="exampleInputUsername1">Training Cost</label>
                                    <input type="text" class="form-control" autocomplete="off" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
  id="trainingcost" name="trainingcost" placeholder="Enter Training Cost">
                                 
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-info card-outline collapsed-card" style="transition: all 0.15s ease 0s; height: inherit; width: inherit;">
                                      <div class="card-header">
                                        <h3 class="card-title">Add Learning Objectives/Outcome/</h3>
                        
                                        <div class="card-tools">
                                         
                                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-plus"></i>
                                          </button>
                                          
                                        </div>
                                        <!-- /.card-tools -->
                                      </div>
                                      <!-- /.card-header -->
                                      <div class="card-body" style="display: none;">
                                        <div class="card-body">
                                           <div class="form-group">
                                             <label>Please Add Number Of LOs</label>
                                             <input class="form-control" name="nolos" id="nolos" autocomplete="off"  type="number" min="1" max="15">
                                           </div>
                                           <div class="form-group">
                                            <div class="input-group">
                                              <div class="input-group-prepend">
                                                <button class="btn btn-sm form-control btn-primary" id="addlos"  type="button">Add LOs</button>
                                          
                                              </div>
                                              <input type="text" name="loname" id="loname" autocomplete="off"  placeholder="Learning Objective Name" class="form-control">
                                             
                                            </div>
                                          </div>
                                          <input type="hidden" id="lodata" name="lodata">
                          
                                          <div class="row">
                                            <div class="col-md-6 offset-md-3 form-check form-check-primary">
                                              <div class="callout callout-success">
                                                <button class="btn btn-link btn-sm" type="button"  onclick="removeallloslist();">Clear LOs</button>
                                                <ul class="" id="list">
                                                  <p>Learning Objectives List</p>
                                                 
                                                </ul>
                                              </div>
                                            
                                            </div>
                                          </div>
                                          </div>
                                      </div>
                                      <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                  </div>
                              </div>
                              <script>
                                   var lolist = [] ;
                     var lolistdata ={}; 
                     var i =1 ;
                                function removeallloslist(){
                                  lolistdata ={}; 
                                  i=1;
                                  $('#lodata').val( JSON.stringify(lolistdata) );
                                  document.getElementById("loname").value ="";
                                  var nolo =document.getElementById("nolos").value;
                                  var addlos = document.getElementById('list');
                                  var item = document.getElementById('lolist');
                                  for(f=0;f<= nolo ; f++){
                                    addlos.removeChild(item);
                                  }
                                 
                                  console.log(JSON.stringify(lolistdata) );  
                                 
                                }
                               
                  
                               
                                $("#addlos").on("click", function(e){
                                
                                  var data = document.getElementById("nolos").value;
                               if(data < i)
                               {
                             
                               }
                               else
                               {
                                                  
                                var loname = document.getElementById("loname").value;
                                loname.trim();
                                var loid = "lo"+i;
                              lolistdata[loid] = loname ;
                             i++;
                             $('#lodata').val( JSON.stringify(lolistdata) );
                             console.log(JSON.stringify(lolistdata) );  
                               // $('#criteria').val([criteria]);
                                      
              $("#list").append("<li id='lolist'>"+loid+"_" + $("#loname").val() + " </li>");
                             
              return false;
                               }
                          
                             
              });
                 
                              </script>
                              <div class="col-md-8 offset-md-2">
                                <button type="submit" class="btn btn-primary btn-block me-2">Submit</button>
                              
                               </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="vert-tabs-profile" role="tabpanel" aria-labelledby="vert-tabs-profile-tab">
                          <%- include ('./partials/messages') %>
                    <form class="forms-sample" action="/admin/course/addnewcoursengo" method="post">
                      
                      
                      <div class="col-md-12" >
                        <div class="form-group">
                          <label for="exampleInputUsername1">Batch Name</label>
                    
                          <select class="form-control" id="batch" name="batch">
                              <option value="0">Select Batch Name</option>
                             <% if(batchngo.length >0){ %>
                               <% batchngo.forEach(function (row){ %>
                                <option value="<%= row.batch_id %>"><%= row.batch_name %></option>
                                <%   })} else{} %>
                           
                          </select>
                        </div>
                      </div>
                 
                      <div class="row">
                        <label>Please Select UOCs List For This batch</label>
                        <div class="col-md-12">
                         <div class="form-group">
                        
                           <select class="form-control-sm js-example-basic-single " style="width:100%" name="level1"  >
                          

          <% if(course1.length >0 ) { %>
          
               <% course1.forEach(function (row){ %>
               
                <option value="<%= row.course_id %>"><%= row.occupation_name%>/<%= row.training_level%>/<%= row.course_code %>/<%= row.course_name %></option>
             <%  })} else{}     %>
                           </select>
                          </div>
                        </div>
                      
           </div>
           <div class="form-group">
            <label for="exampleInputUsername1">UOC Alternative Name(ኣማርኛ)</label>
            <input type="text" class="form-control" id="amharicuocname" autocomplete="off" 
name="amharicuocname" placeholder="UOC Name In Amharic(ኣማርኛ)">
           </div>
           <div class="row">
                            
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputUsername1">Training Hours</label>
                <input type="text" class="form-control" autocomplete="off"
  id="traininghours" name="traininghours" placeholder="Enter Training Hours" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
             
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputUsername1">Training Cost</label>
                <input type="text" class="form-control" id="trainingcost" autocomplete="off"
  name="trainingcost" placeholder="Enter Training Cost" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
             
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="card card-info card-outline collapsed-card" style="transition: all 0.15s ease 0s; height: inherit; width: inherit;">
                  <div class="card-header">
                    <h3 class="card-title">Add Learning Objectives/Outcome/</h3>
    
                    <div class="card-tools">
                     
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-plus"></i>
                      </button>
                      
                    </div>
                    <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body" style="display: none;">
                    <div class="card-body">
                      
                       <div class="form-group">
                         <label>Please Add Number Of LOs</label>
                         <input class="form-control" name="nolosngo" id="nolosngo" autocomplete="off" min="1" max="15"  type="number">
                       </div>
                       <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <button class="btn btn-sm form-control btn-primary" id="addlosngo"  type="button">Add LOs</button>
                      
                          </div>
                          <input type="text" name="lonamengo" id="lonamengo" autocomplete="off"  placeholder="Learning Objective Name" class="form-control">
                         
                        </div>
                      </div>
                      <input type="hidden" id="lodatango" name="lodatango">
      
                      <div class="row">
                        
                        <div class="col-md-6 offset-md-3 form-check form-check-primary">
                          
                          <div class="callout callout-success">
                            <button class="btn btn-link btn-sm" type="button"  onclick="removeallloslistngo();">Clear LOs</button>
                                             
                            <ul class="" id="listngo">
                              <p>Learning Objectives List</p>
                            </ul>
                          </div>
                        
                        </div>
                      </div>
                      </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
          </div>

          <script>
              
             
            var lolist = [] ;
            var lolistdatango ={}; 
     
                       var k =1 ;
                       function removeallloslistngo(){
                        lolistdatango ={}; 
                                  k=1;
                                  $('#lodatango').val( JSON.stringify(lolistdatango) );
                                  document.getElementById("lonamengo").value ="";
                                  var nolo =document.getElementById("nolosngo").value;
                                  var addlos = document.getElementById('listngo');
                                  var item = document.getElementById('lolistngo');
                                  for(f=0;f<= nolo ; f++){
                                    addlos.removeChild(item);
                                  }
                                 
                                  console.log(JSON.stringify(lolistdata) );  
                                 
                                }
                       $("#addlosngo").on("click", function(e){
                       
                         var data3 = document.getElementById("nolosngo").value;
                      if(data3 < k)
                      {
                    
                      }
                      else
                      {
                                         
                       var lonamengo = document.getElementById("lonamengo").value;
                       lonamengo.trim();
                       var loidngo = "lo"+k;
                     lolistdatango[loidngo] = lonamengo ;
                    k++;
                    $('#lodatango').val( JSON.stringify(lolistdatango) );
                    console.log(JSON.stringify(lolistdatango) );  
                      // $('#criteria').val([criteria]);
                             
     $("#listngo").append("<li id='lolistngo'>"+loidngo+"_" + $("#lonamengo").val() + " </li>");
                    
     return false;
                      }
                 
                    
     });
        
                     </script>
                     
                        <div class="col-md-8 offset-md-2">
                          <button type="submit" class="btn btn-primary btn-block me-2">Submit</button>
                        
                         </div>
                      </form>
                        </div>
                        <div class="tab-pane fade  " id="vert-tabs-messages" role="tabpanel" aria-labelledby="vert-tabs-messages-tab">
                          <%- include ('./partials/messages') %>
                          <form class="forms-sample" action="/admin/course/addnewcourseindustry" method="post">
                            <div class="form-group">
                              <label for="exampleInputUsername1">Batch Name</label>
                    
                          <select class="form-control" id="batch" name="batch">
                              <option value="0">Select Batch Name</option>
                             <% if(batchindustry.length >0){ %>
                               <% batchindustry.forEach(function (row){ %>
                                <option value="<%= row.batch_id %>"><%= row.batch_name %></option>
                                <%   })} else{} %>
                           
                          </select>
                            </div>
                            <div class="row">
                              <label>Please select UOCs list for this batch</label>
                              <div class="col-md-12">
                                <div class="form-group">
                               
                                  <select class="form-control-sm js-example-basic-single " style="width:100%" name="level1" >
                                 
       
                 <% if(course1.length >0 ) { %>
                 
                      <% course1.forEach(function (row){ %>
                        <option value="<%= row.course_id %>"><%= row.occupation_name%>/<%= row.training_level%>/<%= row.course_code %>/<%= row.course_name %></option>
           
                    <%  })} else{}     %>
                                  </select>
                                 </div>
                               </div>
                             
                 </div>
                 <div class="form-group">
                  <label for="exampleInputUsername1">UOC Alternative Name(ኣማርኛ)</label>
                  <input type="text" class="form-control" id="amharicuocname" autocomplete="off" 
name="amharicuocname" placeholder="UOC Name In Amharic(ኣማርኛ)">
                 </div>
                            <div class="row">
                            
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="exampleInputUsername1">Training Hours</label>
                                  <input type="text" class="form-control" id="traininghours" autocomplete="off" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
  name="traininghours" placeholder="Enter Training Hours">
                               
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="exampleInputUsername1">Training Cost</label>
                                  <input type="text" class="form-control" id="trainingcost" name="trainingcost" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
autocomplete="off"  placeholder="Enter Training Cost">
                               
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                  <div class="card card-info card-outline collapsed-card" style="transition: all 0.15s ease 0s; height: inherit; width: inherit;">
                                    <div class="card-header">
                                      <h3 class="card-title">Add Learning Objectives/Outcome/</h3>
                      
                                      <div class="card-tools">
                                       
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                          <i class="fas fa-plus"></i>
                                        </button>
                                        
                                      </div>
                                      <!-- /.card-tools -->
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body" style="display: none;">
                                      <div class="card-body">
                                         <div class="form-group">
                                           <label>Please Add Number Of LOs</label>
                                           <input class="form-control" autocomplete="off"  min="1" max="15" name="nolosind" id="nolosind" type="number">
                                         </div>
                                         <div class="form-group">
                                          <div class="input-group">
                                            <div class="input-group-prepend">
                                              <button class="btn btn-sm form-control btn-primary" id="addlosind"  type="button">Add LOs</button>
                                        
                                            </div>
                                            <input type="text" name="lonameind" id="lonameind" autocomplete="off"  placeholder="Learning Objective Name" class="form-control">
                                           
                                          </div>
                                        </div>
                                        <input type="hidden" id="lodataind" name="lodataind">
                        
                                        <div class="row">
                                          <div class="col-md-6 offset-md-3 form-check form-check-primary">
                                            <div class="callout callout-success">
                                              <button class="btn btn-link btn-sm" type="button"  onclick="removeallloslistind();">Clear LOs</button>
                                 
                                              <ul class="" id="list2">
                                                <p>Learning Objectives List</p>
                                              </ul>
                                            </div>
                                          
                                          </div>
                                        </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                  </div>
                                  <!-- /.card -->
                                </div>
                            </div>

                            <script>
                                
                               
                              var lolist = [] ;
                              var lolistdata2 ={}; 
                       
                                         var j =1 ;
                                         function removeallloslistind(){
                                          lolistdata2 ={}; 
                                  j=1;
                                  $('#lodataind').val( JSON.stringify(lolistdata2) );
                                  document.getElementById("lonamengo").value ="";
                                  var nolo =document.getElementById("nolosind").value;
                                  var addlos = document.getElementById('list2');
                                  var item = document.getElementById('lolistind');
                                  for(f=0;f<= nolo ; f++){
                                    addlos.removeChild(item);
                                  }
                                 
                                  console.log(JSON.stringify(lolistdata) );  
                                 
                                }
                                         $("#addlosind").on("click", function(e){
                                         
                                           var data2 = document.getElementById("nolosind").value;
                                        if(data2 < j)
                                        {
                                      
                                        }
                                        else
                                        {
                                                           
                                         var loname2 = document.getElementById("lonameind").value;
                                         loname2.trim();
                                         var loid2 = "lo"+j;
                                       lolistdata2[loid2] = loname2 ;
                                      j++;
                                      $('#lodataind').val( JSON.stringify(lolistdata2) );
                                      console.log(JSON.stringify(lolistdata2) );  
                                        // $('#criteria').val([criteria]);
                                               
                       $("#list2").append("<li id='lolistind'>"+loid2+"_" + $("#lonameind").val() + " </li>");
                                      
                       return false;
                                        }
                                   
                                      
                       });
                          
                                       </script>
                              <div class="col-md-8 offset-md-2">
                                <button type="submit" class="btn btn-primary btn-block me-2">Submit</button>
                              
                               </div>
                            </form>
                        </div>
                       
                      </div>
                    </div>
                  </div>
               
                 </div>
                </div>
                <script>
                  function handleprogramtype(val){
                    var level = document.getElementById('level');
                    if(val =="Level_Based"){
                     level.style.display ="block";
                    }else{
                      level.style.display ="none";
                    }

                  }
                </script>
                <!-- /.card -->
    
                <!-- general form elements -->
              
                <!-- /.card -->
    
              </div>
            <!-- /.col-md-6 -->
         
            <!-- /.col-md-6 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
  <!-- /.control-sidebar -->
  
    <!-- Main Footer -->
    <footer class="main-footer">
        <%- include ('./partials/footer') %>
    </footer>
  <script>
    $(document).ready(function() {
$('.js-example-basic-single').select2();
});
  </script>
  <div id="sidebar-overlay"></div></div>
  <!-- ./wrapper -->
  
  <!-- REQUIRED SCRIPTS -->
  
  <!-- jQuery -->
  <script src="../../../plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="../../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE -->
  <script src="../../../dist/js/adminlte.js"></script>
  
  <!-- OPTIONAL SCRIPTS -->
  <script src="../../plugins/select2/js/select2.full.min.js"></script>
  <script src="../../../plugins/chart.js/Chart.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../../../dist/js/demo.js"></script>
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  <script src="../../../dist/js/pages/dashboard3.js"></script>
  
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

  </body></html>
