
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Selam </title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <%- include('./partials/top') %>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar  elevation-4">
    <!-- Brand Logo -->
         <!-- Brand Logo -->
         <%- include('./partials/sidebar') %>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Dashboard</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Open Short Term/Project/ Based Programs</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                      <div class="card-header">
                        <h4 class="card-title">Open Short Term/Project/ Based Training Programs</h4>
                      </div>
                      <div class="card-body">
                        <%- include ('./partials/messages') %>
                        <div class="row">
                          <div class="col-md-12  grid-margin stretch-card">     <div class="card">
                              <div class="card-body">
                             
                                <div class="table-responsive" id="trainingdata">
                                  <table class="table table-hover" id="example1">
                                    <thead>
                                      <tr>
                      <th>#</th>
                      <th>Funder Name</th>     
                      <th>Batch Name</th>
                                        <th>Program Description</th>
                                        <th>Department Name</th>
                                       
                                        <th>Admission Type</th>
                                        <th> Training From-To</th>
                                        <th> Application From-To</th>
                                        <th> Minimum Requirements </th>
                                        <th> Applicant Selection Criteria  </th>
                                        <th> Application Deadline  </th>
                                        <th> Confirm </th>
                                       
                                      </tr>
                                    </thead>
                                    <tbody>
                    
                                       
                                    
                                     <% if(ngobased.length >0 ) { %>
                                      <% var r = 0 ;%>
                                         <% ngobased.forEach(function (row){ %>
                                          <% r++ %>
                                          <% var asd = new Date(row.app_start_date).toLocaleDateString(); %> 
                                          <% var aed = new Date(row.app_end_date).toLocaleDateString();   %> 
                                        
                                          <% var tsd = new Date(row.training_start_date ).toLocaleDateString();%> 
                                           <% var ted = new Date(row.training_end_date).toLocaleDateString();  %> 
                                           <% var todayis = new Date().toLocaleDateString();%>
                                          <tr>
                                           
                                              <td><%= r %></td>
                                              <td>
                                                <% var funder =  row.funder_id %>
                                                <% if(funderinfo.length >0) {%>
                                                  <% funderinfo.forEach(function (row){ %>
                                                  <% if(funder == row.funder_id) { %>

                                                  <%= row.funder_name %>
                                                  
                                                    <% }})}else {}%>
                                              
                                              </td>
                                              <td><%= row.batch_name %>
                                                 &nbsp;
                                                 <% if(row.is_confirm == "Yes"){ %>
                                                  <div class="icheck-success d-inline">
                                                    <input type="checkbox" checked="" id="checkboxSuccess1">
                                                    <label for="checkboxSuccess1">Confirmed
                                                    </label>
                                                  </div>
                                                <%}else{ %>
                                                  <label class="btn-warning">Not Confirmed Yet</label>
                                                <%} %>
                                              </td>
                                              <td><%= row.program_description %></td>
                                              <td><% var trainingnames =[];
                                                  var abc ;
                                                  trainingnames  =  JSON.parse(row.training_names);
                                               
                                                    %>
                                                    <% for(var j =0 ; j< trainingnames.length ;j++) { %>
                                                      <% var nameid =  trainingnames[j]; %>
                                                    
                                                      <label class="form-check-label">
                                                          <input type="checkbox" class="form-check-input" checked="">
                                                          <%= trainingnames[j] %>
                                                        <i class="input-helper"></i></label>
                                                 <% } %>
                                                 
                                                 
                                                  </td>
                                                 
                                                  <td><% var trainingtype =[];
                                                    trainingtype  =  JSON.parse(row.training_types);
                                                    %>
                                                    <% for(var j =0 ; j< trainingtype.length ;j++) { %>
                                                      <%= trainingtype[j] %>
                                                   ,
                                                 <% } %>
                                                  </td>
                                         
                                              <td><%= tsd +"-"+ ted %></td>
                                              <td><%= asd +"-"+ aed %></td>
                                              <td><%= row.minimum_criteria %> </td>
                                              <td><% var selectioncriteria= [];
                                               var x =[];
                                               var objs = JSON.parse(JSON.stringify(row.selection_criteria));
                                               selectioncriteria.push(objs);
                                               selectioncriteria.forEach(obj => {
                                                 Object.entries(obj).forEach(([key, value]) => {
                                                    var key  = key;
                                                    var value =value;
                                                    x.push(key+"="+value+ "%");
                                                 });
                                               
                                             }); %>
                                             
                                             <% for(var i= 0 ; i < x.length ; i++ ) { %>
                                               <label class="form-check-label">
                                                 <input type="checkbox" class="form-check-input" checked="">
                                                  <%= x[i] %>  
                                               <i class="input-helper"></i></label>
                                             <% } %>
                                           
                                           
                                             </td>
                                              <td> 
                                                <% if(new Date(aed) > new Date(todayis)){ %> 
                                               <form >
                                               
                                           <button class="btn btn-block btn-info">Not Passed</button>     
                                               </form>
                                             <% }else{%>
                                               <form >
                                                 <button class="btn btn-block btn-danger">Passed</button>      
                                               </form>
                                             
                                               <% }%>
                                             </td>
                              
                                             <td> 
                                              <% if(new Date(aed) > new Date(todayis)){ %> 
                                                <form action="/registrar/programs/updateconfirmprogram" method="post">
                                                  <input name="programid" value="<%= row.program_id %>" type="hidden">
                                                  <input type="hidden" name="infotag" value="ngo">
                                              
                                                  <button class="btn btn-block btn-info"><i class="fa fa-edit"></i>Confirm For Registration</button> 
                                              
                                                </form>
                                              <% }else{%>
                                                <form >
                                                  <button class="btn btn-block btn-danger">Application End Date Passed</button>      
                                                </form>
                                              
                                                <% }%>
                                            
                                           
                                                 </td>
                                            </tr>
                                       <%  })} else{}     %>
                                      
                                  
                      
                                         
                                     
                                    
                                    </tbody>
                                 
                                  </table>
                                </div>
                              
                              </div>
                            </div>
                          </div>
                       
                      
                        </div>
                      </div>
                    </div>
                
                   
               
                        
        
                           
                        </div>
              </div>
          
          </div>
    
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
      <!-- Brand Logo -->
      <%- include('./partials/footer') %> 
</footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../plugins/jszip/jszip.min.js"></script>
<script src="../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": false, "lengthChange": true, "autoWidth": true,"width":400,
      "buttons": ["copy", "csv", "excel", "pdf",  {
                extend: 'print',
                customize: function ( win ) {
                    $(win.document.body)
                        .css( 'font-size', '10pt' )
                        .prepend(
                            '<img src="" style="position:absolute; top:0; left:0;" />'
                            
                            );
 
                    $(win.document.body).find( 'table' )
                        .addClass( 'compact' )
                        .css( 'font-size', 'inherit' );
                },
                title: function() {
    return  "  <table> <tr style='  border-collapse: collapse;'><td><img src='../../../dist/img/logoselam.jpg' width='150px' height='150px'></td>"+
   " <td > <h4>  Organization Name <br> Selam David Roeschli Technical And Vocational College <br> Open Short Term Project Based Training Program List</h4> </td> </tr> </table>"
              
  } ,

                
                exportOptions: {
                    columns: ':visible'
                }
            }, "colvis"],
            columnDefs: [ {
            targets: -1,
            visible: true
        }]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  });
</script>
</body>
</html>
