<html lang="en" style="height: auto;"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SELAM_TVC</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- IonIcons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../../dist/css/adminlte.min.css">
<style type="text/css">/* Chart.js */
@keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style></head>
<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->
<body class="sidebar-mini sidebar-closed sidebar-collapse" style="height: auto;">
<div class="wrapper">
  <!-- Navbar -->
  <%- include('./partials/top') %>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar  elevation-4">
    <!-- Brand Logo -->
    <%- include('./partials/sidebar') %>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 2128.12px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Report</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-4 col-sm-6 col-12">
                <div class="info-box">
                  <span class="info-box-icon bg-info"><i class="fa fa-cube"></i></span>
    
                  <div class="info-box-content">
                    <span class="info-box-text">Batch</span>
                    <span class="info-box-number"><%= batch %></span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-md-4 col-sm-6 col-12">
                <div class="info-box">
                  <span class="info-box-icon bg-info"><i class="fa fa-envelope"></i></span>
    
                  <div class="info-box-content">
                    <span class="info-box-text">Occupation</span>
                    <% if(dptlevelngo.length >0){%>
                      <% dptlevelngo.forEach(function(row){%>
                        <ul class="nav flex-column">
                          <li class="nav-item">
                            <a href="#" class="nav-link">
                              <%= row.occupation_name %> <span class="float-right badge bg-primary"><%= row.trainee %></span>
                            </a>
                          </li>
                          </ul>
                        
                      <%})}else{}%>
                  
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
             
              <div class="col-md-4 col-sm-6 col-12">
                  <div class="info-box">
                    <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>
                    <% var sum = 0; %>
                    <div class="info-box-content">
                      <span class="info-box-text">Trainee</span>
                      <% if(dptlevelngo.length >0){%>
                       
                        <% dptlevelngo.forEach(function(row){%>
                          <% sum += parseInt(row.trainee) %>
                          
                        <%})}else{}%>
                        <span class="info-box-number"><%= sum %></span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
              <!-- /.col -->
             
              <!-- /.col -->
            </div>
            <div class="row">
              <div class="col-md-12">
                  <div class="card card-info shadow-lg">
                    <div class="card-header">
                      <h3 class="card-title">All Report</h3>
      
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                        </button>
                      </div>
                      <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                          <div class="col-md-6">
                            <!-- Widget: user widget style 2 -->
                            <div class="card card-widget widget-user-2">
                              <!-- Add the bg color to the header using any of the bg-* classes -->
                              <div class="widget-user-header bg-info">
                                <div class="widget-user-image">
                                 <i class="fas fa-file"></i>
                                </div>
                                <!-- /.widget-user-image -->
                                <h3 class="widget-user-username"></h3>
                                <h5 class="widget-user-desc">Batch</h5>
                              </div>
                              <div class="card-footer p-0">
                                <ul class="nav flex-column">
                                  <li class="nav-item">
                                    <a href="#" class="nav-link">
                                      Total <span class="float-right badge bg-primary"><%= batch %></span>
                                    </a>
                                  </li>
                                 
                                  <li class="nav-item">
                                    <a href="#" class="nav-link">
                                      Level Based Trainee <span class="float-right badge bg-success"><%=lbbatch %></span>
                                    </a>
                                  </li>
                                  <li class="nav-item">
                                    <a href="#" class="nav-link">
                                      Short Term /Project/ Based Trainee <span class="float-right badge bg-success"><%= nbbatch %></span>
                                    </a>
                                  </li>
                                  <li class="nav-item">
                                    <a href="#" class="nav-link">
                                      Industry Based Trainee <span class="float-right badge bg-success"><%=ibbatch %></span>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <!-- /.widget-user -->
                          </div>
                         
                            
                           
                            <div class="col-md-6">
                              <!-- Widget: user widget style 2 -->
                              <div class="card card-widget widget-user-2">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-success">
                                  <div class="widget-user-image">
                                   <i class="fas fa-file"></i>
                                  </div>
                                  <!-- /.widget-user-image -->
                                  <h3 class="widget-user-username"></h3>
                                  <h5 class="widget-user-desc">Trainee</h5>
                                </div>
                                <div class="card-footer p-0">
                                  <ul class="nav flex-column">
                                    <li class="nav-item">
                                      <a href="#" class="nav-link">
                                        Total <span class="float-right badge bg-primary"><%= trainee %></span>
                                      </a>
                                    </li>
                                    <li class="nav-item">
                                      <a href="#" class="nav-link">   On Training  <br>
                                        <% ontrainee.forEach(function(row){ %>
                                          <%= row.occupation_name %> <span class="float-right badge bg-success"><%= row.trainee %></span><br>
                              
                                        <%})%> </a>
                                    </li>
                                    <li class="nav-item">
                                      <a href="#" class="nav-link"> Graduated Trainee  <br>
                                        <% graduated.forEach(function(row){ %>
                                           <%= row.occupation_name %> <span class="float-right badge bg-success"><%= row.trainee %></span><br>
                              
                                        <%})%>
                                               </a>
                                    </li>
                                    <li class="nav-item">
                                      <a href="#" class="nav-link"> Dropout Trainee  <br>
                                        <% dropout.forEach(function(row){ %>
                                         
                                          <%= row.occupation_name %> <span class="float-right badge bg-success"><%= row.trainee %></span><br>
                              
                                        <%})%>
                                      </a>
                                    </li>
                                  
                                  </ul>
                                </div>
                              </div>
                              <!-- /.widget-user -->
                            </div>
                        </div>
                     
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
            </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
<!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
      <%- include ('./partials/footer') %>
  </footer>

<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="../../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="../../../dist/js/adminlte.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="../../../plugins/chart.js/Chart.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../../dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="../../../dist/js/pages/dashboard3.js"></script>
<script src="../../plugins/toastr/toastr.min.js"></script>


</body></html>