
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Selam</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../../plugins/fontawesome-free/css/all.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="../../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="../../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <%- include('./partials/top') %>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar  elevation-4">
    <!-- Brand Logo -->
         <!-- Brand Logo -->
         <%- include('./partials/sidebar') %>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Dashboard</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Batch List</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                      <div class="card-header">
                        <h4 class="card-title">Batch List</h4>
                      </div>
                      <div class="card-body">
                        
                      <br>
                          <ul class="nav nav-tabs " id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link  active"  id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Level Based Batch </button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link "  id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Short Term /Project/ Based Batch </button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link "  id="industry-tab" data-bs-toggle="tab" data-bs-target="#industry" type="button" role="tab" aria-controls="industry" aria-selected="false">Industry Driven Batch </button>
                            </li>
                        
                          </ul>
                          <div class="tab-content " id="myTabContent">
                              
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">    <div class="row">
                                <div class="row" style="display: none;">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dt-buttons btn-group flex-wrap">               
                                    <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>Copy</span></button> 
                                    <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>CSV</span></button> 
                                    <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>Excel</span></button> 
                                    <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>PDF</span></button>
                                     <button class="btn btn-secondary buttons-print" tabindex="0" aria-controls="example1" type="button"><span>Print</span></button> <div class="btn-group">
                                         <button class="btn btn-secondary buttons-collection dropdown-toggle buttons-colvis" tabindex="0" aria-controls="example1" type="button" aria-haspopup="true" aria-expanded="false"><span>Column visibility</span></button></div> </div></div>
                                         
                                         <div class="col-sm-12 col-md-6"><div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1"></label></div></div></div>
                                <div class="col-md-12  grid-margin stretch-card">     <div class="card">
                                  <div class="card-body">
                                    <h4 class="card-title"> Level Based Batch List</h4>
                                    <div class="table-responsive" >
                                      <table aria-describedby="example1_info" role="grid" class="table table-bordered table-striped dataTable dtr-inline responsive" id="example1">
                                        <thead>
                                          <tr>
                          <th>#</th>
                                            <th>Batch Name</th>
                                            <th>Program Description</th>
                                            <th>Occupation Name</th>
                                            <th>Training Level</th>
                                            <th>Training Type</th>
                                            <th> Training From-To</th>
                                            <th> Application From-To</th>
                                            <th> Minimum Requirements </th>
                                            <th> Applicant Selection Criteria  </th>
                                            <th> Application Deadline  </th>
                                            <th> Close  </th>
                                            <th> Update</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                        
                                           
                                        
                                         <% if(levelbased.length >0 ) { %>
                                          <% var r = 0 ;%>
                                             <% levelbased.forEach(function (row){ %>
                                              <% r++ %>
                                              <% var asd = new Date(row.app_start_date).toLocaleDateString(); %> 
                                              <% var aed = new Date(row.app_end_date).toLocaleDateString();   %> 
                                            
                                              <% var tsd = new Date(row.training_start_date ).toLocaleDateString();%> 
                                               <% var ted = new Date(row.training_end_date).toLocaleDateString();  %> 
                                               <% var todayis = new Date().toLocaleDateString();%>
                                              <tr>
                                               
                                                  <td><%= r %></td>
                                                  <td><%= row.batch_name %></td>
                                                  <td><%= row.program_description %></td>
                                                  <td><% var trainingnames =[];
                                                      var abc ;
                                                      trainingnames  =  JSON.parse(row.training_names);
                                                   
                                                        %>
                                                        <% for(var j =0 ; j< trainingnames.length ;j++) { %>
                                                          <% var nameid =  trainingnames[j]; %>
                                                        
                                                          <label class="form-check-label">
                                                              <input type="checkbox" class="form-check-input" checked="">
                                                              <%= trainingnames[j] %>
                                                            <i class="input-helper"></i></label>
                                                     <% } %>
                                                     
                                                     
                                                      </td>
                                                      <td><% var traininglevels =[];
                                                        traininglevels  =  JSON.parse(row.training_levels);
                                                        %>
                                                        <% for(var j =0 ; j< traininglevels.length ;j++) { %>
                                                        <label class="form-check-label">
                                                          <input type="checkbox" class="form-check-input" checked="">
                                                          <%= traininglevels[j] %>
                                                        <i class="input-helper"></i></label>
                                                     <% } %>
                                                      </td>
                                                      <td><% var trainingtype =[];
                                                        trainingtype  =  JSON.parse(row.training_types);
                                                        %>
                                                        <% for(var j =0 ; j< trainingtype.length ;j++) { %>
                                                        <label class="form-check-label">
                                                          <input type="checkbox" class="form-check-input" checked="">
                                                          <%= trainingtype[j] %>
                                                        <i class="input-helper"></i></label>
                                                     <% } %>
                                                      </td>
                                             
                                                  <td><%= tsd +"-"+ ted %></td>
                                                  <td><%= asd +"-"+ aed %></td>
                                                  <td><%= row.minimum_criteria %> </td>
                                                  <td><% var selectioncriteria= [];
                                                   var x =[];
                                                   var objs = JSON.parse(row.selection_criteria);
                                                   selectioncriteria.push(objs);
                                                   selectioncriteria.forEach(obj => {
                                                     Object.entries(obj).forEach(([key, value]) => {
                                                        var key  = key;
                                                        var value =value;
                                                        x.push(key+"="+value+ "%");
                                                     });
                                                   
                                                 }); %>
                                                 
                                                 <% for(var i= 0 ; i < x.length ; i++ ) { %>
                                                   <label class="form-check-label">
                                                     <input type="checkbox" class="form-check-input" checked="">
                                                      <%= x[i] %>  
                                                   <i class="input-helper"></i></label>
                                                 <% } %>
                                               
                                               
                                                 </td>
                                                  <td> 
                                                    <% var ed = new Date(row.app_end_date)  %> 
                                                    <% var td = new Date()  %> 
                                                    <% if(ed >td){ %> 
                                                   <form >
                                                   
                                               <button class="btn btn-block btn-info">Not Passed</button>     
                                                   </form>
                                                 <% }else{%>
                                                   <form >
                                                     <button class="btn btn-block btn-danger">Passed</button>      
                                                   </form>
                                                 
                                                   <% }%>
                                                 </td>
                                                 <td> 
                                                  <% if(ed > td){ %> 
                                                    <button class="btn btn-block btn-info">Application Date Not Passed </button> 
                                                    
                                                       <% }else{%>
                                                        <% if(row.is_open == "Yes"){ %>
                                                          <form action="/dean/programs/closeopenprograms/<%= row.program_id %>" method="post">
                                                         
                                                          <button class="btn btn-block btn-danger">Close Program</button> 
                                                          </form>
                                                            <%} else {%>
                                                             <button class="btn btn-block btn-info">Already Closed </button> 
                                                             <%} %>
                                                            <% }%>
                                                     </td>
                                                 <td> 
                                                   <form action="/dean/programs/updateopenprograms/<%= row.program_id %>" method="post">
                                                    <div class="form-group">
                                                   
                                                      <input type="date" class="form-control" id="appenddate" name="appenddate" placeholder="Enter Training End Date">
                                                    </div>
                                                    <input class="form-control" id="programtag" name="programtag" type="hidden" value="levelbased">
                                                  
                                                     <button class="btn btn-block btn-info" type="submit"><i class="fa fa-edit"></i>Update Application Date</button> 
                                                 
                                                   </form>
                                               
                                                     </td>
                                                </tr>
                                           <%  })} else{}     %>
                                          
                                      
                          
                                             
                                         
                                        
                                        </tbody>
                                      </table>
                                      </div>
                                  
                                  </div>
                                </div>
                              </div>
                           
                          
                            </div>
                          </div>
                          <div class="tab-pane " id="profile" role="tabpanel" aria-labelledby="profile-tab">    <div class="row">
                            <div class="col-md-12  grid-margin stretch-card">     <div class="card">
                                <div class="card-body">
                                  <h4 class="card-title">Short Term /Project/ Based Batch List </h4>
                                 
                                  <div class="table-responsive" id="trainingdata">
                                    <table aria-describedby="ngobased_info" role="grid" class="table responsive table-bordered table-striped dataTable dtr-inline" id="example2">
                                      <thead>
                                        <tr>
                        <th>#</th>
                        <th>Funder Name</th>
                                          <th>Batch Name</th>
                                          <th>Program Description</th>
                                          <th>Occupation Name</th>
                                         
                                          <th>Training Type</th>
                                          <th> Training From-To</th>
                                          <th> Application From-To</th>
                                          <th> Minimum Requirements </th>
                                          <th> Applicant Selection Criteria  </th>
                                          <th> Application Deadline  </th>
                                          <th> Close  </th>
                                          <th> Update</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                      
                                         
                                      
                                       <% if(ngobased.length >0 ) { %>
                                        <% var r = 0 ;%>
                                           <% ngobased.forEach(function (row){ %>
                                            <% r++ %>
                                            <% var asd = new Date(row.app_start_date).toLocaleDateString(); %> 
                                            <% var aed = new Date(row.app_end_date).toLocaleDateString();   %> 
                                          
                                            <% var tsd = new Date(row.training_start_date ).toLocaleDateString();%> 
                                             <% var ted = new Date(row.training_end_date).toLocaleDateString();  %> 
                                             <% var todayis = new Date().toLocaleDateString();%>
                                            <tr>
                                             
                                                <td><%= r %></td>
                                                <td> <% var funder =  row.funder_id %>
                                                  <% if(funderinfo.length >0) {%>
                                                    <% funderinfo.forEach(function (row){ %>
                                                    <% if(funder == row.funder_id) { %>

                                                    <%= row.funder_name %>
                                                    
                                                      <% }})}else {}%>
                                                
                                                
                                                </td>
                                                <td><%= row.batch_name %></td>
                                                <td><%= row.program_description %></td>
                                                <td><% var trainingnames =[];
                                                    var abc ;
                                                    trainingnames  =  JSON.parse(row.training_names);
                                                 
                                                      %>
                                                      <% for(var j =0 ; j< trainingnames.length ;j++) { %>
                                                        <% var nameid =  trainingnames[j]; %>
                                                      
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" checked="">
                                                            <%= trainingnames[j] %>
                                                          <i class="input-helper"></i></label>
                                                   <% } %>
                                                   
                                                   
                                                    </td>
                                                   
                                                    <td><% var trainingtype =[];
                                                      trainingtype  =  JSON.parse(row.training_types);
                                                      %>
                                                      <% for(var j =0 ; j< trainingtype.length ;j++) { %>
                                                      <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" checked="">
                                                        <%= trainingtype[j] %>
                                                      <i class="input-helper"></i></label>
                                                   <% } %>
                                                    </td>
                                           
                                                <td><%= tsd +"-"+ ted %></td>
                                                <td><%= asd +"-"+ aed %></td>
                                                <td><%= row.minimum_criteria %> </td>
                                                <td><% var selectioncriteria= [];
                                                 var x =[];
                                                 var objs = JSON.parse(JSON.stringify(row.selection_criteria));
                                                 selectioncriteria.push(objs);
                                                 selectioncriteria.forEach(obj => {
                                                   Object.entries(obj).forEach(([key, value]) => {
                                                      var key  = key;
                                                      var value =value;
                                                      x.push(key+"="+value+ "%");
                                                   });
                                                 
                                               }); %>
                                               
                                               <% for(var i= 0 ; i < x.length ; i++ ) { %>
                                                 <label class="form-check-label">
                                                   <input type="checkbox" class="form-check-input" checked="">
                                                    <%= x[i] %>  
                                                 <i class="input-helper"></i></label>
                                               <% } %>
                                             
                                             
                                               </td>
                                                <td> 
                                                  <% var ed = new Date(row.app_end_date)  %> 
                                                  <% var td = new Date()  %> 
                                                  <% if(ed>td){ %> 
                                                 <form >
                                                 
                                             <button class="btn btn-block btn-info">Not Passed</button>     
                                                 </form>
                                               <% }else{%>
                                                 <form >
                                                   <button class="btn btn-block btn-danger">Passed</button>      
                                                 </form>
                                               
                                                 <% }%>
                                               </td>
                                               <td> 
                                                <% if(ed>td){ %> 
                                                  <button class="btn btn-block btn-info">Application Date Not Passed </button> 
                                                  
                                                     <% }else{%>
                                                      <% if(row.is_open == "Yes"){ %>
                                                        <form action="/dean/programs/closeopenprograms/<%= row.program_id %>" method="post">
                                                       
                                                        <button class="btn btn-block btn-danger">Close Program</button> 
                                                        </form>
                                                          <%} else {%>
                                                           <button class="btn btn-block btn-info">Already Closed </button> 
                                                           <%} %>
                                                          <% }%>
                                                   </td>
                                               <td> 
                                                 <form action="/dean/programs/updateopenprograms/<%= row.program_id %>" method="post">
                                                  <div class="form-group">
                                                   
                                                    <input type="date" class="form-control" id="appenddate" name="appenddate" placeholder="Enter Training End Date">
                                                  </div>
                                                  <input class="form-control" id="programtag" name="programtag" type="hidden" value="ngobased">
                                                
                                                   <button class="btn btn-block btn-info" type="submit"><i class="fa fa-edit"></i>Update Application Date</button> 
                                               
                                                 </form>
                                             
                                                   </td>
                                              </tr>
                                         <%  })} else{}     %>
                                        
                                    
                        
                                           
                                       
                                      
                                      </tbody>
                                    </table>
                                  </div>
                                
                                </div>
                              </div>
                            </div>
                         
                        
                          </div>
                        </div>
                        <div class="tab-pane " id="industry" role="tabpanel" aria-labelledby="industry-tab">    <div class="row">
                          <div class="col-md-12  grid-margin stretch-card">     <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Industry Driven Batch  List</h4>
                                <div class="table-responsive" id="trainingdata">
                                  <table aria-describedby="industry_info" role="grid" class="table responsive table-bordered table-striped dataTable dtr-inline" id="example3">
                                    <thead>
                                      <tr>
                      <th>#</th>
                      <th>Funder Name</th>
                                        <th>Batch Name</th>
                                        <th>Program Description</th>
                                        <th>Occupation Name</th>
                                      
                                        <th> Training From-To</th>
                                        <th> Application From-To</th>
                                       
                                        <th> Application Deadline  </th>
                                        <th> Close  </th>
                                        <th> Update</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                    
                                       
                                    
                                     <% if(industrybased.length >0 ) { %>
                                      <% var r = 0 ;%>
                                         <% industrybased.forEach(function (row){ %>
                                          <% r++ %>
                                          <% var asd = new Date(row.app_start_date).toLocaleDateString(); %> 
                                          <% var aed = new Date(row.app_end_date).toLocaleDateString();   %> 
                                        
                                          <% var tsd = new Date(row.training_start_date ).toLocaleDateString();%> 
                                           <% var ted = new Date(row.training_end_date).toLocaleDateString();  %> 
                                           <% var todayis = new Date().toLocaleDateString();%>
                                          <tr>
                                           
                                              <td><%= r %></td>
                                              <td> <%= row.company_name%>
                                               
                                              
                                              </td>
                                              <td><%= row.batch_name %></td>
                                              <td><%= row.program_description %></td>
                                              <td><% var trainingnames =[];
                                                  var abc ;
                                                  trainingnames  =  JSON.parse(row.training_names);
                                               
                                                    %>
                                                    <% for(var j =0 ; j< trainingnames.length ;j++) { %>
                                                      <% var nameid =  trainingnames[j]; %>
                                                    
                                                      <label class="form-check-label">
                                                          <input type="checkbox" class="form-check-input" checked="">
                                                          <%= trainingnames[j] %>
                                                        <i class="input-helper"></i></label>
                                                 <% } %>
                                                 
                                                 
                                                  </td>
                                                 
                                             
                                         
                                              <td><%= tsd +"-"+ ted %></td>
                                              <td><%= asd +"-"+ aed %></td>
                                          
                                              <td> 
                                                <% var ed = new Date(row.app_end_date)  %> 
                                                <% var td = new Date()  %> 
                                                <% if(ed>td){ %> 
                                               <form >
                                               
                                           <button class="btn btn-block btn-info">Not Passed</button>     
                                               </form>
                                             <% }else{%>
                                               <form >
                                                 <button class="btn btn-block btn-danger">Passed</button>      
                                               </form>
                                             
                                               <% }%>
                                             </td>
                                             <td> 
                                              <% if(ed>td){ %> 
                                                <button class="btn btn-block btn-info">Application Date Not Passed </button> 
                                                
                                                   <% }else{%>
                                                    <% if(row.is_open == "Yes"){ %>
                                                      <form action="/dean/programs/closeopenprograms/<%= row.program_id %>" method="post">
                                                     
                                                      <button class="btn btn-block btn-danger">Close Program</button> 
                                                      </form>
                                                        <%} else {%>
                                                         <button class="btn btn-block btn-info">Already Closed </button> 
                                                         <%} %>
                                                        <% }%>
                                                 </td>
                                             <td> 
                                               <form action="/dean/programs/updateopenprograms/<%= row.program_id %>" method="post">
                                                <div class="form-group">
                                                   
                                                  <input type="date" class="form-control" id="appenddate" name="appenddate" placeholder="Enter Training End Date">
                                                </div>
                                                <input class="form-control" id="programtag" name="programtag" type="hidden" value="industrybased">
                                              
                                                 <button class="btn btn-block btn-info" type="submit"><i class="fa fa-edit"></i>Update Application Date</button> 
                                             
                                               </form>
                                           
                                                 </td>
                                            </tr>
                                       <%  })} else{}     %>
                                      
                                  
                      
                                         
                                     
                                    
                                    </tbody>
                                  </table>
                                  </div>
                              
                              </div>
                            </div>
                          </div>
                       
                      
                        </div>
                      </div>
                        
                
                        </div>
                      </div>
                    </div>
                
                   
               
                        
        
                           
                        </div>
              </div>
          
          </div>
    
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
      <!-- Brand Logo -->
      <%- include('./partials/footer') %> 
</footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../../plugins/jszip/jszip.min.js"></script>
<script src="../../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="../../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../../dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": false, "lengthChange": true, "autoWidth": true,"width":400,
      "buttons": ["copy", "csv", "excel", "pdf",  {
                extend: 'print',
                customize: function ( win ) {
                    $(win.document.body)
                        .css( 'font-size', '10pt' )
                        .prepend(
                            '<img src="" style="position:absolute; top:0; left:0;" />'
                            
                            );
 
                    $(win.document.body).find( 'table' )
                        .addClass( 'compact' )
                        .css( 'font-size', 'inherit' );
                },
                title: function() {
    return  "  <table> <tr style='  border-collapse: collapse;'><td><img src='../../../dist/img/logoselam.jpg' width='150px' height='150px'></td>"+
   " <td > <h4>  Organization Name <br> Selam Technical And Vocational Collage <br> Level Based Batch List</h4> </td> </tr> </table>"
              
  } ,

                
                exportOptions: {
                    columns: ':visible'
                }
            }, "colvis"],
            columnDefs: [ {
            targets: -1,
            visible: false
        }]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $("#example2").DataTable({
      "responsive": false, "lengthChange": true, "autoWidth": true,"width":400,
      "buttons": ["copy", "csv", "excel", "pdf",  {
                extend: 'print',
                customize: function ( win ) {
                    $(win.document.body)
                        .css( 'font-size', '10pt' )
                        .prepend(
                            '<img src="" style="position:absolute; top:0; left:0;" />'
                            
                            );
 
                    $(win.document.body).find( 'table' )
                        .addClass( 'compact' )
                        .css( 'font-size', 'inherit' );
                },
                title: function() {
    return  "  <table> <tr style='  border-collapse: collapse;'><td><img src='../../../dist/img/logoselam.jpg' width='150px' height='150px'></td>"+
   " <td > <h4>  Organization Name <br> Selam Technical And Vocational Collage <br> Project Based Batch List</h4> </td> </tr> </table>"
              
  } ,

                
                exportOptions: {
                    columns: ':visible'
                }
            }, "colvis"],
            columnDefs: [ {
            targets: -1,
            visible: false
        }]
    }).buttons().container().appendTo('#example2_wrapper .col-md-6:eq(0)');
    $("#example3").DataTable({
      "responsive": false, "lengthChange": true, "autoWidth": true,"width":400,
      "buttons": ["copy", "csv", "excel", "pdf",  {
                extend: 'print',
                customize: function ( win ) {
                    $(win.document.body)
                        .css( 'font-size', '10pt' )
                        .prepend(
                            '<img src="" style="position:absolute; top:0; left:0;" />'
                            
                            );
 
                    $(win.document.body).find( 'table' )
                        .addClass( 'compact' )
                        .css( 'font-size', 'inherit' );
                },
                title: function() {
    return  "  <table> <tr style='  border-collapse: collapse;'><td><img src='../../../dist/img/logoselam.jpg' width='150px' height='150px'></td>"+
   " <td > <h4>  Organization Name <br> Selam David Roeschli Technical And Vocational Collage <br> Industry Driven Based Batch List</h4> </td> </tr> </table>"
              
  } ,

                
                exportOptions: {
                    columns: ':visible'
                }
            }, "colvis"],
            columnDefs: [ {
            targets: -1,
            visible: false
        }]
    }).buttons().container().appendTo('#example3_wrapper .col-md-6:eq(0)');
  
  });
</script>
</body>
</html>
